{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ play|prettify|striptags }}{% endblock %}

{% block content %}

<h1>Editing {{ play|prettify }}</h1>

<div class="primary">

<form method="post" id="edit">
{{ form.as_p }}

{{ formset.management_form }}

{% for form in formset.forms %}
<div class="author_errors">
{% if form.person_choice.errors or form.person_choice.is_hidden %}
{{ form.person_choice.errors }}
{{ form.person_choice }}
{% endif %}
</div>
<div class="author">

{{ form.person.errors }}
{{ form.person.label_tag }} {{ form.person }}

{% for field in form %}
{% ifnotequal field.label 'Author' %}
{% if field.is_hidden %}
{{ field }}
{% else %}
{{ field.errors }}
{{ field.label_tag }} {{ field }}
{% endif %}
{% endifnotequal %}
{% endfor %}
</div>
{% endfor %}

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>

</div>

<div class="secondary">

<p>You are editing the details of a play. Description should be a short
generic summary of the play, with perhaps some background information or other
interesting information.
</p>

<p>A play should be by its original author; translations
or adaptations should be given within a production, by adding the translator as
a Part for that production.</p>

<p>If this play is a duplicate of another, please <a href="{% url criticism %}">get in touch</a>
so it can be removed, thank you.</p>

</div>

{% endblock %}
