{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ play }}{% endblock %}

{% block content %}

<h1>Editing {{ play }}</h1>

<div id="primary">

<form method="post">
<table>
{{ form }}

{{ formset }}

<tr><td colspan="2" style="text-align:right"><input type="submit" value="Update"></td></tr>
</table>
</form>

</div>

<div class="secondary">

<p>You are editing the details of a play. Description should be a short
summary of the play, with perhaps some background information.
</p>

</div>

{% endblock %}
