{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ play.get_title_display|prettify|striptags }}{% endblock %}

{% block extra_head %}
<link href="{{ play.get_feed_url }}" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block content %}

{% if request.session.merging_play %}
{% with play as object %}{% with request.session.merging_play as duplicate %}
{% include 'merged/buttons.html' %}
{% endwith %}{% endwith %}
{% endif %}

<h1>{{ play.get_title_display|prettify }}</h1>

{% include 'includes/messages.html' %}

<div id="primary">

{% if future.object_list %}
<h2>Current &amp; Upcoming productions</h2>
<ul class="production_list">
{% for production in future.object_list %}
<li><a href="{{ production.get_absolute_url }}">{% if production.company %}{{ production.company|prettify }}, {% endif %}
{{ production.place_summary|prettify }}</a>
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% if future.has_other_pages %}
<p align="right"><a href="{{ play.get_future_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

{% if past.object_list %}
<h2>Past productions</h2>
<ul class="production_list">
{% for production in past.object_list %}
<li><a href="{{ production.get_absolute_url }}">{% if production.company %}{{ production.company|prettify }}, {% endif %}
{{ production.place_summary|prettify }}</a>
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% if past.has_other_pages %}
<p align="right"><a href="{{ play.get_past_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

</div>

<div class="secondary">

<p>A play by {{ play.get_authors_display|default:"unknown" }}</p>

<ul>
{% if play.url %}<li><a href="{{ play.url }}">Official website</a>{% endif %}
{% if play.wikipedia %}<li><a href="{{ play.wikipedia }}">Wikipedia</a>{% endif %}
<li><a rel="nofollow" href="{{ play.get_add_url }}">Add a production of this play</a></li>
<li><a rel="nofollow" href="{{ play.get_edit_url }}">Edit this play</a>
{% if alert %}
<li><a href="{{ play.get_alert_remove_url }}">Stop alerting me to productions of this play</a>
{% else %}
<li><a rel="nofollow" href="{{ play.get_alert_add_url }}">Alert me to productions of this play</a>
{% endif %}
{% if not request.session.merging_play %}
<li><a rel="nofollow" href="{{ play.get_absolute_url }}/merge">This is a duplicate of another play</a>
{% endif %}
</ul>

{% if play.description %}
{{ play.description|prettify|linebreaks }}
<p align="right"><a href="{{ play.get_edit_url }}">Edit &rarr;</a></p>
{% else %}
{% if user.is_authenticated %}
<p>This play doesn&rsquo;t appear to have a description yet.
Why not <a href="{{ play.get_edit_url }}">add one</a>?
{% else %}
<p>To add a description of this play, or to request an alert,
please <a href="{% url login %}?next={{ request.path }}">sign in</a>.</p>
{% endif %}
{% endif %}

{% if same_name %}
<h2 class="no-descenders">Same name</h2>
<ul>
{% for play in same_name %}
<li><a href="{{ play.get_absolute_url }}">{{ play.get_title_display|prettify }}</a>, by {{ play.get_authors_display|default:"unknown" }}
{% endfor %}
</ul>
{% endif %}

</div>

{% endblock %}
