{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ play }}{% endblock %}

{% block content %}

<h1>Editing {{ play }}</h1>

<div id="primary">

<form method="post" id="edit">
{{ form.as_p }}

{{ formset.management_form }}

{% for form in formset.forms %}

{% if form.person_choice.errors or form.person_choice.is_hidden %}
{{ form.person_choice.errors }}
{{ form.person_choice }}
{% endif %}

{{ form.person.errors }}
<p>{{ form.person.label_tag }} {{ form.person }}</p>

{% for field in form %}
{% ifnotequal field.label 'Author' %}
{% if field.is_hidden %}
{{ field }}
{% else %}
{{ field.errors }}
<p>{{ field.label_tag }} {{ field }}</p>
{% endif %}
{% endifnotequal %}
{% endfor %}

{% endfor %}

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>

</div>

<div class="secondary">

<p>You are editing the details of a play. Description should be a short
summary of the play, with perhaps some background information.
</p>

</div>

{% endblock %}
