{% extends 'base.html' %}

{% block title %}Tickets, please!{% endblock %}

{% block content %}

<h1>Tickets, please!</h1>

<div class="primary">

<form method="post">{% csrf_token %}
<table>
{{ form }}
</table>
<input type="submit" value="Sign in">
<input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>

</div>

<div class="secondary">
{% if next %}
<p>
The action you are trying to perform requires you to sign in
to the site. If you do not yet have an account, please
<a href="{% url "register" %}">register for one</a>.
</p>
{% else %}
<p>Signing in lets you add information to the site;
if you do not yet have an account, please
<a href="{% url "register" %}">register for one</a>.
</p>
{% endif %}
</div>

{% endblock %}
