{% extends 'base.html' %}
{% load prettify %}

{% block title %}Lost tickets{% endblock %}

{% block content %}

<h1>Lost tickets</h1>

<p>Forgotten your password? Enter your e-mail address below, and we&rsquo;ll e-mail instructions for setting a new one.</p>

<form action="" method="post">{% csrf_token %}
{% if form.email.errors %}
<ul class="errorlist">
 {% for error in form.email.errors %}
<li>{{ error|prettify }}
{% endfor %}
</ul>
{% endif %}
<p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset my password"></p>
</form>

{% endblock %}
