{% extends 'base.html' %}

{% block title %}Box Office{% endblock %}

{% block content %}

<h1>Box Office</h1>

<p>Thank you. You are now registered and logged in, and can get started
correcting any inaccuracies, or <a href="/add">adding new productions</a>.
You will have been sent a confirmation email containing a link to confirm your
account. It might take a few minutes &ndash; if you still do not receive one,
please check your spam folder in case the message went there by mistake.</p>

{% endblock %}
