{% extends 'base.html' %}
{% load prettify %}
{% load thumbnail %}

{% block title %}{{ person.name }}{% endblock %}

{% block extra_head %}
<link href="{{ person.get_absolute_url }}/feed" type="application/rss+xml" rel="alternate">
<link rev="canonical" type="text/html" href="https://theatricalia.com/a/{{ person.id32 }}">
{% endblock %}

{% block content %}

{% if request.session.merging_person %}
{% with person as object %}{% with request.session.merging_person as duplicate %}
{% include 'merged/buttons.html' %}
{% endwith %}{% endwith %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

<h1 itemprop="name">{{ person|prettify }}</h1>

<div class="primary">

{% if person.bio %}
<div itemprop="description">{{ person.bio|prettify|linebreaks }}</div>
{% else %}
<p>This person doesn&rsquo;t appear to have a biography yet.
Why not <a href="{{ person.get_edit_url }}">add one</a>?
{% endif %}

{% if plays %}
<h2>Plays authored</h2>
<ul>
{% for play in plays %}
<li><a href="{{ play.get_absolute_url }}">{{ play.get_title_display|prettify }}</a>
{% endfor %}
</ul>
{% endif %}

{% if future.object_list %}
<h2>Current &amp; Upcoming productions</h2>
<ul class="production_list">
{% for production in future.object_list %}
<li itemprop="performerIn" itemscope itemtype="http://schema.org/TheaterEvent">
{% if production.part__role__concatenate %}
{{ production.part__role__concatenate }}, {% endif %}
<a itemprop="url" href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}, {{ production.get_companies_display }}{% endif %}
<span class="meta">{{ production.date_summary|prettify }},
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% if future.has_other_pages %}
<p align="right"><a href="{{ person.get_more_future_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

{% if past.object_list %}
<h2>Past productions</h2>
<ul class="production_list">
{% for production in past.object_list %}
<li itemprop="performerIn" itemscope itemtype="http://schema.org/TheaterEvent">
{% if production.part__role__concatenate %}
{{ production.part__role__concatenate }}, {% endif %}
<a itemprop="url" href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}, {{ production.get_companies_display }}{% endif %}
<span class="meta">{{ production.date_summary|prettify }},
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% if past.has_other_pages %}
<p align="right"><a href="{{ person.get_more_past_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

</div>

<div class="secondary">

{% include 'includes/messages.html' %}

{% if person.photos.all %}
    {% with person.photos.all|random as photo %}
    {% thumbnail photo.photo "108x108" crop="center" as im %}
    <div id="photograph-feature">
    <a href="{{ MEDIA_URL }}{{ photo.photo }}" title="{{ photo.title }}"><img src="{{ im.url }}" width={{ im.width }} height={{ im.height }}></a>
    </div>
    {% endthumbnail %}
    {% endwith %}
{% else %}{% if flickr.photos.photo %}
    {% with flickr.photos.photo|random as photo %}
    <div id="photograph-feature">
    <a href="https://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}/" title="{{ photo.title }}"><img src="https://farm{{ photo.farm }}.staticflickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_s.jpg" alt="{{ photo.title }}"></a>
    </div>
    {% endwith %}
{% endif %}{% endif %}

{% if person.dob or person.died or person.web or person.imdb or person.musicbrainz or person.wikipedia or person.openplaques %}
<ul role="contentinfo">
{% if person.dob %} <li>Date of birth: <time itemprop="birthDate" datetime="{{ person.dob_machine }}">{{ person.dob }}</time> {% endif %}
{% if person.died %} <li>Died: <time itemprop="deathDate" datetime="{{ person.died_machine }}">{{ person.died }}</time> {% endif %}
{% if person.web %} <li><a href="{{ person.web }}">Website</a> {% endif %}
{% if person.imdb %} <li><a href="{{ person.imdb }}">IMDb</a> {% endif %}
{% if person.musicbrainz %} <li><a href="{{ person.musicbrainz }}">MusicBrainz</a> {% endif %}
{% if person.openplaques %} <li><a href="{{ person.openplaques }}">OpenPlaques</a> {% endif %}
{% if person.wikipedia %} <li><a href="{{ person.wikipedia }}">Wikipedia</a> {% endif %}
</ul>
{% endif %}

<div style="float: right">
<a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-via="theatricalia" data-related="dracos">Tweet</a><script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>
</div>

<h2 class="sm">Tools</h2>

<ul>
<li><a href="{{ person.get_edit_url }}">Edit this person</a>
<li><a rel="nofollow" href="/add?person={{ person.id32 }}">Add a new production involving this person</a></li>
{% if not request.session.merging_person %}
<li><a rel="nofollow" href="{{ person.get_absolute_url }}/merge">This is a duplicate of another person</a>
{% endif %}
</ul>

<div id="photographs">
<h2>Photographs</h2>

{% if person.photos.all or flickr.photos.photo %}
    {% include 'includes/photo-thumb.html' with photos=person.photos %}
{% endif %}
</div>

{% if user.is_authenticated %}
    <p class="clear before_form">If you have a photograph of this person,
    please either upload it here, or add it to <a href="https://flickr.com/">Flickr</a> and tag it with
    <input type="text" value="theatricalia:person={{ person.id32 }}" onclick="this.focus();this.select();" readonly size=25>.</p>
    {% include 'includes/photo-form.html' %}
{% else %}
    <p class="clear">If you have a photograph of this person,
    please <a href="{% url "login" %}?next={{ request.path }}">sign in</a> to upload it, or
    add it to <a href="https://flickr.com/">Flickr</a> and tag it with
    <input type="text" value="theatricalia:person={{ person.id32 }}" onclick="this.focus();this.select();" readonly size=25>.</p>
{% endif %}

{% if same_name %}
<h2 class="no-descenders">Same name</h2>
<ul>
{% for person in same_name %}
<li><a href="{{ person.get_absolute_url }}">{{ person|prettify }}</a>
{% endfor %}
</ul>
{% endif %}

</div>

</div>
{% endblock %}
