{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ person|prettify }}{% endblock %}

{% block extra_head %}
<link href="{{ person.get_absolute_url }}/feed" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block content %}

<h1>Editing {{ person|prettify }}</h1>

<div class="secondary">

<p>Thank you for taking the time to add or correct some information on this site.
All information is optional, just provide us with what you know.</p>

<p>A person&rsquo;s biography should be a short summary of their life and career to date.</p>

<p>If this person is a duplicate of another, please <a href="{% url criticism %}">get in touch</a>
so it can be removed, letting me know the URLs of both people; thank you.</p>

</div>

<div class="primary">

{% for error in form.errors.values %}
{{ error }}
{% endfor %}

<form method="post" id="edit">
{% for field in form.hidden_fields %} {{ field }} {% endfor %}
{% for field in form.visible_fields %}
<p>{{ field.label_tag }} {{ field }}</p>
{% if field.help_text %}
<p class="help_text"><small>{{ field.help_text }}</small></p>
{% endif %}
{% endfor %}

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>

</div>

{% endblock %}
