{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ person.name }}{% endblock %}

{% block extra_head %}
<link href="{{ person.get_absolute_url }}/feed" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block content %}

<h1>{{ person.name }}</h1>

<div id="primary">

{% if person.bio %}
{{ person.bio|prettify|linebreaks }}
{% else %}
<p>This person doesn&rsquo;t appear to have a biography yet.
Why not <a href="{{ person.get_edit_url }}">add one</a>?
{% endif %}

{% if plays %}
<h2>Plays authored</h2>
<ul>
{% for play in plays %}
<li><a href="{{ play.get_absolute_url }}">{{ play.get_title_display|prettify }}</a>
{% endfor %}
</ul>
{% endif %}

{% if future.object_list %}
<h2>Current &amp; Upcoming productions</h2>
<ul class="production_list">
{% for production in future.object_list %}
<li>
{% if production.part__role__concatenate %}
{{ production.part__role__concatenate }}, {% endif %}
<a href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.title %}, {{ production.title|prettify }}{% endif %}
<span>{{ production.date_summary|prettify }},
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% if future.has_other_pages %}
<p align="right"><a href="{{ person.get_more_future_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

{% if past.object_list %}
<h2>Past productions</h2>
<ul class="production_list">
{% for production in past.object_list %}
<li>
{% if production.part__role__concatenate %}
{{ production.part__role__concatenate }}, {% endif %}
<a href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.title %}, {{ production.title|prettify }}{% endif %}
<span>{{ production.date_summary|prettify }},
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% if past.has_other_pages %}
<p align="right"><a href="{{ person.get_more_past_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

</div>

<div class="secondary">

{% include 'includes/messages.html' %}

{% if person.dob or person.web or person.imdb or person.wikipedia %}
<ul role="contentinfo">
{% if person.dob %} <li>Date of birth: {{ person.dob }} {% endif %}
{% if person.web %} <li><a href="{{ person.web }}">Website</a> {% endif %}
{% if person.imdb %} <li><a href="{{ person.imdb }}">IMDb</a> {% endif %}
{% if person.wikipedia %} <li><a href="{{ person.wikipedia }}">Wikipedia</a> {% endif %}
</ul>
{% endif %}

<ul>
<li><a href="{{ person.get_edit_url }}">Edit this person</a>
{% if alert %}
    <li><a href="{{ person.get_alert_remove_url }}">Stop alerting me about this person</a>
{% else %}
    {% if plays %}
        {% if future.object_list or past.object_list %}
            <li><a href="{{ person.get_alert_add_url }}">Alert me to productions involving, or of plays by, this person</a>
        {% else %}
            <li><a href="{{ person.get_alert_add_url }}">Alert me to productions of plays by this person</a>
        {% endif %}
    {% else %}
        <li><a href="{{ person.get_alert_add_url }}">Alert me to productions involving this person</a>
    {% endif %}
{% endif %}
<li><a href="/add?person={{ person.id32 }}">Add a new production involving this person</a></li>
</ul>

<h2>Photographs</h2>

<div id="photographs">

<ul>
{% for photo in person.photos.all %}
<li><a href="{{ photo.get_absolute_url }}">{{ photo.photo.thumbnail_tag }}</a>
{% endfor %}
</ul>

</div>

{% if user.is_authenticated %}
    <p class="clear before_form">If you have a photograph of this person,
    please either upload it here, or add it to <a href="http://flickr.com/">Flickr</a> and tag it with
    <input type="text" value="theatricalia:person={{ person.id32 }}" onclick="this.focus();this.select();" readonly size=25>.</p>
    {% include 'includes/photo-form.html' %}
{% else %}
    <p class="clear">If you have a photograph of this person,
    please <a href="{% url login %}?next={{ request.path }}">sign in</a> to upload it, or
    add it to <a href="http://flickr.com/">Flickr</a> and tag it with
    <input type="text" value="theatricalia:person={{ person.id32 }}" onclick="this.focus();this.select();" readonly size=25>.</p>
{% endif %}

{% if same_name %}
<h2 class="no-descenders">Same name</h2>
<ul>
{% for person in same_name %}
<li><a href="{{ person.get_absolute_url }}">{{ person|prettify }}</a>
{% endfor %}
</ul>
{% endif %}

</div>

{% endblock %}
