{% extends 'base.html' %}

{% block title %}{{ letter }} | All people{% endblock %}

{% block extra_body %} id="people"{% endblock %}

{% block content %}

<ul id="atoz">
{% for l in letters %}
<li>{% ifequal l letter %}
<strong>{{ l|upper }}</strong>
{% else %}
<a href="{% url people l|lower %}">{{ l }}</a>
{% endifequal %}
{% endfor %}
<li>{% ifequal "0-9" letter %}
<strong>0&ndash;9</strong>
{% else %}
<a href="{% url people "0" %}">0&ndash;9</a>
{% endifequal %}
<!--
<li>{% ifequal "Symbols" letter %}
<strong>Symbols</strong>
{% else %}
<a href="{% url people "*" %}">Symbols</a>
{% endifequal %}
-->
</ul>

<h1>People &ndash; {{ letter }}</h1>

{% include "pagination.html" %}

<ul class="person_list clear">
{% for person in object_list %}
<li><a href="{{ person.get_absolute_url }}">{{ person }}</a></li>
{% empty %}
<p>No results.</p>
{% endfor %}
</ul>

{% include "pagination.html" %}

{% endblock %}
