{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ object.name|prettify }}{% endblock %}

{% block content %}

<h1>{{ object.name|prettify }}</h1>

<div id="primary">

<h2>{{ type }}</h2>

{% if page_obj.object_list %}
<ul class="production_list">
{% for production in page_obj.object_list %}
<li itemscope itemtype="http://schema.org/TheaterEvent">
{% if production.part__role__concatenate %}
{{ production.part__role__concatenate }}, {% endif %}
<a itemprop="url" href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}, {{ production.get_companies_display }}{% endif %}
<span class="meta">{{ production.date_summary|prettify }},
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% else %}
<p>There are no results to display.</p>
{% endif %}

{% include "pagination.html" %}

</div>

<div class="secondary">
<p>{{ type }} featuring <a href="{{ object.get_absolute_url }}">{{ object.name|prettify }}</a>.</p>
{% include "pagination.html" %}
</div>

{% endblock %}
