{% extends 'base.html' %}
{% load prettify %}

{% block title %}Matching Productions{% endblock %}

{% block content %}

<h1>Matching productions</h1>

<div class="primary">

{% if productions %}
<ul class="production_list">
{% for production in productions %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}, {{ production.get_companies_display }}{% endif %}
{% if production.searched_people %}
<br>
{{ production.searched_people|prettify_list }}
{% endif %}
<span class="meta">{{ production.date_summary|prettify }},
{% if production.places.count == 1 %}
<a href="{{ production.places.all.0.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endif %}
</span>
{% endfor %}
</ul>
{% else %}
<p>There are no results to display.</p>
{% endif %}

</div>

<div id="sidebar_tulip" class="secondary"><div id="sidebar_tulip_r" role="contentinfo">
<p>All productions matching the terms searched for.</p>
</div></div>

<div class="secondary">
<form id="edit">
{{ form.as_p }}
<p><input type="submit" value="Search"></p>
</form>
</div>

{% endblock %}
