{% extends 'base.html' %}
{% load prettify %}

{% block extra_head %}
<link href="/publicity/feed" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block title %}{{ object.title }} &ndash; Publicity{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>

<div class="primary">

{{ object.body|safe|prettify|linebreaks }}

</div>

<div id="sidebar_tulip" class="secondary"><div id="sidebar_tulip_r">

<p>A news article written by <a href="{{ object.author.profile.get_absolute_url }}">{{ object.author.name }}</a>
at {{ object.created|date:"g:i" }}&nbsp;{{ object.created|date:"a" }}
on {{ object.created|date:"jS F Y"|prettify }}.</p>

</div></div>

<div class="secondary">

{% include 'news/sidebar-all.html' %}
</div>

{% endblock %}
