{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ object.title }} &ndash; Publicity{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>

<div id="primary">

{{ object.body|safe|prettify|urlize|linebreaks }}

</div>

<div id="sidebar_tulip" class="secondary"><div id="sidebar_tulip_r">

<p>An article written by <a href="{{ object.author.get_profile.get_absolute_url }}">{{ object.author.name }}</a>
at {{ object.created|date:"g:i" }}&nbsp;{{ object.created|date:"a" }}
on {{ object.created|date:"jS F Y" }}.</p>

</div></div>

<div class="secondary">

{% include 'news/sidebar-all.html' %}
</div>

{% endblock %}
