{% extends 'base.html' %}

{% block extra_head %}
<link href="/publicity/feed" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block title %}{{ month|date:"F Y" }} &ndash; Publicity{% endblock %}

{% block content %}

<h1>Publicity in {{ month|date:"F Y" }}</h1>

<div class="primary">

<ul>

{% for article in object_list %}
<li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
{% endfor %}

</ul>

</div>

<div class="secondary">
{% include 'news/sidebar-all.html' %}
</div>

{% endblock %}
