{% extends 'base.html' %}
{% load prettify %}

{% block title %}Adding production
{% if play %}of {{ play|prettify }}{% endif %}
{% if place %}at {{ place|prettify }}{% endif %}
{% if company %}by {{ company|prettify }}{% endif %}
{% endblock %}

{% block content %}

<h1>Adding production</h1>

{% include 'includes/messages.html' %}

<div class="primary">

<p>Thank you for taking the time to add some information on this site.
</p>

<form method="post" id="edit">{% csrf_token %}
<input type="hidden" name="initial_person" value="{{ request.GET.person }}">

{% if form.play_choice.errors or form.play_choice.is_hidden %}
{{ form.play_choice.errors }}
{{ form.play_choice }}
{% endif %}

<p>{{ form.play.label_tag }} {{ form.play }}</p>
<p class="help_text"><small>Enter the title of the play of this production.
If needed, you can give the play an author and description over on its page once you&rsquo;ve
entered this production.</small></p>

{% for err in companies_formset.errors %}
{{ err }}
{% endfor %}
{% include 'productions/company-form.html' %}

<p>{{ form.description.label_tag }} {{ form.description }}</p>
<p class="help_text"><small>This should be about the <em>production</em>;
to give a description of the <em>play</em>, please visit the play&rsquo;s edit
page after you have finished entering this production.</small></p>
<p>{{ form.url.label_tag }} {{ form.url }}</p>
<p class="help_text"><small>If this particular <em>production</em> has its own web page,
as opposed to the theatre, play, or production company.</small></p>
<p>{{ form.book_tickets.label_tag }} {{ form.book_tickets }}</p>
<p class="help_text"><small>A web page that lets someone book tickets for this production,
if possible.</small></p>

<div id="edit_places">

<h2>Places</h2>

{% for err in place_formset.errors %}
{{ err }}
{% endfor %}

{% include 'productions/place-form.html' %}

</div>

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>
 
</div>

<div id="sidebar_tulip" class="secondary"><div id="sidebar_tulip_r">

{% if play or place or company %}
<p>A production
{% if play %}of the play <a href="{{ play.get_absolute_url }}">{{ play|prettify }}</a>.{% endif %}
{% if place %}at <a href="{{ place.get_absolute_url }}">{{ place|prettify }}</a>.{% endif %}
{% if company %}by <a href="{{ company.get_absolute_url }}">{{ company|prettify }}</a>.{% endif %}
</p>
{% else %}
<p>You are adding a brand new production to Theatricalia.
Don&rsquo;t worry if you don&rsquo;t have all the information asked for &ndash;
just let us have what you know, and perhaps someone else will fill in the blanks.
If you don&rsquo;t have time to enter any information, but you have a theatre
programme, please at least upload a photo of the cast list to
<a href="http://www.flickr.com/groups/theatricalia/">our Theatricalia Flickr group</a>
and hopefully it&rsquo;ll get added by another helpful soul.
</p>
{% endif %}
<p>Play, Production company, and Place all use an auto-complete box to
compare what you enter against existing entries in the database &ndash; please
pick something from the list if you see it is already there.</p>

<p>Data entered here will be made available under the
<a href="http://www.opendatacommons.org/licenses/odbl/summary/">Open Database Licence</a>,
factual content under the
<a href="http://opendatacommons.org/licenses/dbcl/">Database Contents Licence</a>;
copyright material (e.g. uploaded photos) remains with the copyright holder.</p>

</div></div>

{% endblock %}
