{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ object|prettify|striptags }}{% endblock %}

{% block content %}

<h1>{{ object|prettify }}</h1>

<div id="primary">

<h2>{{ type }}</h2>

{% if page_obj.object_list %}
<ul class="production_list">
{% for production in page_obj.object_list %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>,
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% else %}
<p>There are no results to display.</p>
{% endif %}

{% include "pagination.html" %}

</div>

<div class="secondary">
<p>{{ type }} by <a href="{{ object.get_absolute_url }}">{{ object|prettify }}</a>.</p>
{% include "pagination.html" %}
</div>

{% endblock %}
