{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ production.company|default:"" }} production of {{ production.play.get_title_display|prettify }}{% endblock %}

{% block content %}

<h1>Editing production</h1>

<div id="primary">

<p>Thank you for taking the time to add or correct some information on this site.</p>

<form method="post" id="edit">

{% if form.person_choice.errors or form.person_choice.is_hidden %}
{{ form.person_choice.errors }}
{{ form.person_choice }}
{% endif %}

{{ form.person.errors }}
<p>{{ form.person.label_tag }} {{ form.person }}</p>

{% for field in form %}
{% ifnotequal field.label 'Person' %}
{% if field.is_hidden %}
{{ field }}
{% else %}
{{ field.errors }}
<p>{{ field.label_tag }} {{ field }}
{% if field.help_text %}<small>({{ field.help_text }})</small>{% endif %}
</p>
{% endif %}
{% endifnotequal %}
{% endfor %}

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>
 
</div>

{% include 'productions/sidebar.html' %}

<div class="secondary">

<ul>
<li><a href="../edit">Edit production details</a></li>
<li><a href="cast">Edit Cast &amp; Crew</a></li>
<li><a href="{{ production.get_absolute_url }}">Finish editing</a> (forget any changes made on this page)</li>
</ul>

</div>

{% endblock %}
