{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ production.get_companies_display|striptags }} production of {{ production.play.get_title_display|prettify|striptags }}{% endblock %}

{% block content %}

<h1>Editing production</h1>

{% include 'includes/messages.html' %}

<div class="primary">

<p>Thank you for taking the time to add or correct some information on this site.
</p>

<form method="post" id="edit">{% csrf_token %}

{% if form.play_choice.errors or form.play_choice.is_hidden %}
{{ form.play_choice.errors }}
{{ form.play_choice }}
{% endif %}

<p>{{ form.play.label_tag }} {{ form.play }}</p>
{% if production.play.id %}
<p class="help_text"><small>If you need to change the play&rsquo;s author
or description, you can do that from the
<a href="{{ production.play.get_edit_url }}">play&rsquo;s edit page</a>
(you&rsquo;ll lose any changes you&rsquo;ve made to this page).</small></p>
{% else %}
<p class="help_text"><small>Enter the title of the play of this production.
If needed, you can give the play an author and description over on its page once you&rsquo;ve
entered this production.</small></p>
{% endif %}

{% for err in companies_formset.errors %}
{{ err }}
{% endfor %}
{% include 'productions/company-form.html' %}

<p>{{ form.description.label_tag }} {{ form.description }}</p>
<p class="help_text"><small>This is for information and details specific to this <em>production</em>;
to give a generic description of the <em>play</em>, please visit the play&rsquo;s edit
page after you have finished with this production.</small></p>
<p>{{ form.url.label_tag }} {{ form.url }}</p>
<p class="help_text"><small>If this particular <em>production</em> has its own web page,
as opposed to the theatre, play, or production company.</small></p>
<p>{{ form.book_tickets.label_tag }} {{ form.book_tickets }}</p>
<p class="help_text"><small>A web page that lets someone book tickets for this production,
if possible.</small></p>

<div id="edit_places">

<h2>Places</h2>

<p>Use the empty form to add a new place for this production.</p>

{% for err in place_formset.errors %}
{{ err }}
{% endfor %}

{% include 'productions/place-form.html' %}

</div>

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>
 
</div>

{% include 'productions/sidebar.html' %}

<div class="secondary">

<ul>
<li><strong>Edit production details</strong></li>
<li><a href="edit/cast">Edit Cast &amp; Crew</a></li>
{% if production.play.id %}
<li><a href="{{ production.get_absolute_url }}">Disregard, and finish editing</a></li>
{% endif %}
</ul>

<p>Play, Production company, and Place all use an auto-complete box to
compare what you enter against existing entries in the database &ndash; please
pick something from the list if you see it is already there.</p>

<p>Data entered here will be made available under the
<a href="http://www.opendatacommons.org/licenses/odbl/summary/">Open Database Licence</a>,
factual content under the
<a href="http://opendatacommons.org/licenses/dbcl/">Database Contents Licence</a>;
copyright material (e.g. uploaded photos) remains with the copyright holder.</p>

</div>

{% endblock %}
