{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ production.company|default:"" }} production of {{ production.play.get_title_display|prettify }}{% endblock %}

{% block content %}

<h1>Editing production</h1>

{% include 'includes/messages.html' %}

<div id="primary">

<p>Thank you for taking the time to add or correct some information on this site.
</p>

<form method="post" id="edit">

{{ form.errors }}

<p>{{ form.play.label_tag }} {{ form.play }}</p>
<p class="help_text"><small>If you need to change the play&rsquo;s author
or description, you can do that from the
<a href="{{ production.play.get_edit_url }}">play&rsquo;s edit page</a>
(you&rsquo;ll lose any changes you&rsquo;ve made to this page).</small></p>
<p>{{ form.company.label_tag }} {{ form.company }}</p>
<p>{{ form.description.label_tag }} {{ form.description }}</p>

<div id="edit_places">

<h2>Places</h2>

<p>Use the empty form to add a new place for this production.</p>

{% for err in formset.errors %}
{{ err }}
{% endfor %}

{% include 'productions/place-form.html' %}

</div>

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>
 
</div>

{% include 'productions/sidebar.html' %}

<div class="secondary">

<ul>
<li><strong>Edit production details</strong></li>
<li><a href="edit/cast">Edit Cast &amp; Crew</a></li>
<li><a href="{{ production.get_absolute_url }}">Finish editing</a> (forget any changes made on this page)</li>
</ul>

<p>Play, Production company, and Place all use an auto-complete box to
compare what you enter against existing entries in the database &ndash; please
pick something from the list if you see it is already there.</p>

</div>

{% endblock %}
