{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ production.get_companies_display|striptags }} production of {{ production.play.get_title_display|prettify|striptags }}{% endblock %}

{% block content %}

<h1>Editing production</h1>

{% include 'includes/messages.html' %}

<div class="primary">

{% if not request.POST %}
<p>Thank you for taking the time to add or correct some information on this site.
Here, you can either <a href="#add">add a new part</a>, or
pick from the <a href="#edit-head">list of parts to edit</a>.
By <em>part</em>, I mean anyone involved in a production, from cast or crew to
the translator for this production or anyone else involved.
If a person plays more than one part, please enter each part separately, so
that people can e.g. search for anyone who's played Romeo (even if they also
played another smaller part).
</p>

{% endif %}

<h2 id="add" class="no-descenders">Add new Part</h2>

<form method="post" id="edit">{% csrf_token %}

{% if form.person_choice.errors or form.person_choice.is_hidden %}
{{ form.person_choice.errors }}
{{ form.person_choice }}
{% endif %}

{{ form.person.errors }}
<p>{{ form.person.label_tag }} {{ form.person }}</p>

{% for field in form %}
{% if field.label != 'Person' %}
{% if field.is_hidden %}
{{ field }}
{% else %}
{{ field.errors }}
<p>{{ field.label_tag }} {{ field }}
{% if field.help_text %}<small>({{ field.help_text }})</small>{% endif %}
</p>
{% endif %}
{% endif %}
{% endfor %}

<p><input type="submit" value="Record addition"></p>
</form>
 
{% if not form.errors %}

<h2 id="edit-head" class="no-descenders"><a name="castandcrew"></a>Cast &amp; Crew</h2>
 
<ul id="edit-parts">
{% for part in parts.all %}
<li>
  <a href="./{{ part.id }}">Edit</a>
  {{ part.person.name|prettify }}, {{ part.role|prettify }} <small>({{ part.cast_string }})</small>
  {% if part.order or part.start_date or part.end_date %}
  <small>({% if part.order %}{{ part.order|default:'' }}; {% endif %}{% if part.start_date or part.end_date %}{{ part.date_summary|prettify }}{% endif %})</small>
  {% endif %}
</li>
{% empty %}
<li>No parts currently. If you know some, please contribute them above.</li>
{% endfor %}
</ul>
    
{% endif %}

</div>

{% include 'productions/sidebar.html' %}

<div class="secondary">

<ul>
<li><a href="../edit">Edit production details</a></li>
<li><strong>Edit Cast &amp; Crew</strong></li>
<li><a href="{{ production.get_absolute_url }}">Finish editing</a></li>
</ul>

<p>Unlike the main production editing page, Person does not use an
auto-complete, so that we can perform homophone matching when you submit (so we
can match Katie to Katy, for example).
</p>

</div>

{% endblock %}
