{{ formset.management_form }}
{% for f in formset.forms %}
<div class="place">
    <p>{{ f.place.label_tag }} {{ f.place }}</p>
    <p>{{ f.start_date.label_tag }} {{ f.start_date }}
    <span class="m">
    {{ f.end_date.label_tag }}&nbsp;{{ f.end_date }}
    </span></p>
    <p style="margin-left:7.5em; position: relative; top: -0.3em;"><small>If you don&rsquo;t know the precise start and end dates, feel free to give just month and year, or just year (e.g. &ldquo;October 1974&rdquo;, &ldquo;2003&rdquo;, or &ldquo;17/3/1935&rdquo;)</small></p>
    <p>{{ f.press_date.label_tag }} {{ f.press_date }}</p>
    {% if f.DELETE %}
    <p>{{ f.DELETE.label_tag }} {{ f.DELETE }} <small>&ndash; select this if this production did not perform in this place, to remove it.</small></p>
    {% endif %}
    {{ f.production }}
    {{ f.id }}
</div>
{% endfor %}


