{% load prettify %}

{% ifequal production.places.count 1 %}
    {{ production.date_summary|prettify }},
    at the <a href="{{ production.places.all.0.get_absolute_url }}">{{ production.places.all.0|prettify }}</a>.</p>
    {% if production.place_set.all.0.press_date and production.place_set.all.0.start_date %}
        <p>Press night was {{ production.place_set.all.0.press_date|date:"jS F Y"|prettify }}.</p>
    {% endif %}
{% else %}
{% ifequal production.places.count 0 %}
    at an unknown location.
{% else %}
    at
    {% for place in production.place_set.all %}
        {% if forloop.last and not forloop.first %} and {% endif %}
        <a href="{{ place.place.get_absolute_url }}">{{ place.place|prettify }}</a>
        <small>({{ place.date_summary|prettify }})</small>{% ifequal forloop.revcounter0 0 %}{% else %}{% ifequal forloop.revcounter0 1 %}{% ifnotequal forloop.counter0 0 %},{% endifnotequal %}{% else %},{% endifequal %}{% endifequal %}{% endfor %}.
{% endifequal %}
{% endifequal %}

