{% extends 'base.html' %}

{% block title %}Not Found (404){% endblock %}

{% block content %}

<blockquote class="large verse">
<pre>&ldquo;A play does not exist until it is on the stage.&rdquo;
<div>&mdash; Tennessee Williams</div>
</pre>
</blockquote>

<p>Unfortunately, whatever you were looking for could not be found.
<br>You could try <a href="/search?q={{ request.META.REQUEST_URI|cut:"/" }}">searching for &ldquo;{{ request.META.REQUEST_URI|cut:"/" }}&rdquo;</a>,
use the search form above,
<br>or browse our
<a href="/plays">plays</a>,
<a href="/people">people</a>, and
<a href="/places">places</a>.
</p>

{% endblock %}

