{% extends 'base.html' %}

{% block title %}About this site{% endblock %}

{% block content %}

<h1>About this site</h1>

<div id="primary">
<p>Theatricalia will hopefully become <em>the</em> repository of theatre
productions on the internet. In doing so, it will enable people to discover
theatre that is going on around them, follow actors they have seen in previous
productions, and record memorable events of productions they have seen.
</p>

<p>Theatricalia was written by me in my spare time, because I needed it to exist. We had seen some fantastic actors in the <acronym title="Royal Shakespeare Company">RSC</acronym> Histories Cycle, and found there was no way to find out what other things those actors were going to be in, or indeed had been in apart from their short blurbs in the programme.</p>

<p>It launches with the data for all <acronym title="Royal Shakespeare Company">RSC</acronym>
productions since its foundation in 1879, all Birmingham Repertory Theatre
productions up to and including 1971 when it moved to its current location in
Centenary Square, the wide variety of productions held by the University of
Bristol Theatre Archive, and the complete archive of the Royal National Theatre.
I hope those organisations like that their data is being
made available more widely in an easy-to-use interface.</p>

</div>

<div class="secondary">
<h2 class="no-descenders">Datasets to be added</h2>
<ul>
<li>Edinburgh Fringe 2008
<li>MUGSS complete archive
</ul>
<p>If you have a machine-readable dataset of productions
you would like added to this site, please do
<a href="/criticism">get in touch</a>.

<h2 class="no-descenders">Possible things to come</h2>

<p>Please see our UserVoice page for
<a href="http://theatricalia.uservoice.com/pages/35070-theatricalia">feature requests and bug reports</a>.</p>
<ul>
<li>More ways of drilling down but pagination, e.g. A-Z of productions at a place, or by year, etc.
<li>Advanced search
<li>Programmatic output of the data
<li>Date written for plays?
</ul>
</div>

{% endblock %}
