{% extends 'base.html' %}

{% block title %}About this site{% endblock %}

{% block content %}

<h1>About this site</h1>

<p>Theatricalia will hopefully become <em>the</em> repository of theatre
productions on the internet. In doing so, it will enable people to discover
theatre that is going on around them, follow actors they have seen in previous
productions, and record memorable events of productions they have seen.
</p>

<p>Theatricalia was written by me in my spare time, because I needed it to exist.

It currently contains all RSC productions since its foundation in 1879,
plus all Birmingham Rep productions up to and including 1971.</p>

<p>[Needs more!]</p>

{% endblock %}
