<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block fulltitle %}{% block title %}Password required{% endblock %} | Theatricalia{% endblock %}</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>
    <link rel="stylesheet" href="/static/css/site.css" type="text/css">
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie.css">
    <![endif]-->
</head>
<body>

<div id="header">
	<h1><a href="/">Theatricalia</a> &ndash; <strong>Password required</strong></h1>
</div>

<div id="main">
{% if msg %}
<p id="error">{{ msg }}</p>
{% else %}
<p>This site is currently undergoing <em>pre-</em>alpha testing. If you know the password, come on in;
otherwise, you&rsquo;ll have to wait until the profile code is ready so you can register your
interest&hellip;</p>
{% endif %}

<form action="{{ path }}" method="POST">
<p>
Password:    <input type="password" name="{{ form_field_name }}">
    <input type="submit" value="Gain entry">
<input type="hidden" name="query" value="{{ query_string }}">
</p>
</form>
</div>

<div id="footer">
	<p>A <a href="http://www.dracos.co.uk/">Matthew Somerville</a> production</p>
<p><img src="/static/i/mouse.png" alt="" height="48">
</div>

</body>
</html>
