{% extends "base.html" %}

{% block title %}Password required{% endblock %}

{% block alpha_block_head %}
	<h1><a href="/"><span></span>Theatricalia</a></h1>
    <h2> &ndash; <strong>Password required</strong></h2>
{% endblock %}

{% block content %}

{% if msg %}
<p id="error">{{ msg }}</p>
{% else %}
<p>This site is currently undergoing alpha testing. If you know the password, come on in;
otherwise, <a href="/">register your interest</a>.</p>
{% endif %}

<form action="{{ path }}" method="POST">
<p>Password:
<input type="password" name="{{ form_field_name }}">
<input type="submit" value="Gain entry">
<input type="hidden" name="query" value="{{ query_string }}">
</p>
</form>

{% endblock %}

{% block alpha_block_footer %}
	<p>A <a href="http://www.dracos.co.uk/">Matthew Somerville</a> production</p>
{% endblock %}
