{% extends "base.html" %}

{% block fulltitle %}Theatricalia | Coming when it&rsquo;s good and ready{% endblock %}

{% block alpha_block_head %}
    <h1><a href="/"><span></span>Theatricalia</a></h1>
    <h2> &ndash; {{ status }}&hellip;</h2>
{% endblock %}

{% block extra_body %} id="alpha"{% endblock %}

{% block content %}

{% include "includes/messages.html" %}

<p class="top"><em>Theatricalia</em>, an archive of past, present, and future theatre productions, is currently
<a href="/static/backstage/">in development</a>.

Anyone, from theatre companies to actors to you, will be able to 
add and update productions, keep up-to-date on actors and local
theatre, and explore the amazing array of data within.</p>


<p class="bottom"><label for="ebygum">If you&rsquo;d like to be informed when <em>Theatricalia</em> goes live, please
enter your email address below:</label></p>

{% if error.em %} <p id="error">{{ error.em }}</p> {% endif %}

<form method="post" action="/">
<p id="email"><input type="text" id="ebygum" name="ebygum" value="" size="30" maxlength="100">
<input type="hidden" name="not" value="{{ rand }}">
<input type="submit" value="I&rsquo;m interested"></p>

<p class="top"><small>I will only email you to let you know about the launch of the site and nothing else.</small></p>

</form>

<p class="bottom"><label for="godot">If you&rsquo;ve received an invite to the dress rehearsal, please enter the
code on your invitation below:</label></p>

{% if error.pw %} <p id="error">{{ error.pw }}</p> {% endif %}

<form action="{{ path }}" method="POST">
<p><input type="text" id="godot" name="{{ form_field_name }}" value="" size="22" maxlength="100">
<input type="submit" value="Peek behind the curtain">
<input type="hidden" name="query" value="{{ query_string }}">
</p>
</form>

{% endblock %}

{% block alpha_block_footer %}
	<p>A <a href="http://www.dracos.co.uk/">Matthew Somerville</a> production</p>
{% endblock %}
