{% extends 'base.html' %}

{% block title %}Colophon &amp; Acknowledgements{% endblock %}

{% block content %}

<h1>Colophon &amp; Acknowledgements</h1>

<blockquote class="verse">
<pre>&ldquo;This is the best of me; for the rest, I ate, and drank,
and slept, loved and hated, like another; my life was
as the vapour, and is not; but this I saw and knew:
this, if anything of mine, is worth your memory.&rdquo;
<div>&mdash; <i>Sesame and Lilies</i>, John Ruskin</div>
</pre>
</blockquote>

<p>Theatricalia was built on a <a href="http://www.apple.com/macmini/">Mac Mini</a>, with
<a href="http://www.vim.org/">vim</a> and <a href="http://www.djangoproject.com/">Django</a>.
It is &ndash; hopefully &ndash; valid <abbr title="Hyper-Text Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr>,
usable, accessible, and full of the joy I have had from going to the theatre.

You may of course view this website in any browser you wish &ndash;
however, I have made precisely zero sops to Internet Explorer,
and only <a href="http://www.getfirefox.com/">Firefox</a> 3.0 on the Mac utilises Apple&rsquo;s <abbr>AAT</abbr>
technology to fully display Zapf&rsquo;s magnificant ligatures (yes, version 3 alone &ndash; 3.5
<a href="https://bugzilla.mozilla.org/show_bug.cgi?id=446529#c28">lost some of them</a>, I&rsquo;m afraid).

<p>Speaking of which, a note about the type &mdash; headings are (if you have
them) in <span id="zapfino">Zapfino</span>, body in Optima.

<p><a href="/static/i/production-screenshot.png"><img align="right" src="/static/i/production-screenshot.png" alt="Screenshot of the website on a Mac" border="0"></a>
Whilst I have written this site myself, thanks must go to a number of people &ndash;
Abi Broom for testing (what must seem like to her) every design decision;
Denise Wilton for inspiration, assistance, and the nicest compliment on first
viewing of
&ldquo;it&rsquo;s great &ndash; and very un-you in style, actually!&rdquo;;
Georgina Hardy, Toby Hester, Naomi Green, <a href="/person/1d6q/susie-riddell">Susie Riddell</a>
and anyone else I bored with my idea or data model at choir; and
Deborah Kerr (no, not <a href="/person/r4v/deborah-kerr">that one</a>) for the name and much more.
Thanks to <a href="http://www.bytemark.co.uk/">Bytemark</a> for hosting.
</p>

<p><a href="http://www.dracos.co.uk/">Matthew Somerville</a>

{% endblock %}
