{% extends "base.html" %}

{% block title %}Criticism{% endblock %}

{% block content %}

<h1>Criticism</h1>

<blockquote class="verse"><pre>
1. The action of criticizing, or passing judgement upon the qualities or merits of anything
2. The art of estimating the qualities and character of literary or artistic work;
   the function or work of a critic.
</pre></blockquote>

<p>Everyone&rsquo;s a critic these days. This site is currently run as a hobby
by me and me alone; constructive positive criticism is welcome.
You can see or make
<a href="http://theatricalia.uservoice.com/pages/35070-theatricalia">feature
requests and bug reports at UserVoice</a>, email me at
<a href="mailto:matthew&#64;theatricalia.com">matthew&#64;theatricalia.com</a>
(though be aware I do get quite a lot of email, so don&rsquo;t be alarmed if I
take some time to reply), or I am on Twitter as
<a href="http://twitter.com/theatricalia">@theatricalia</a>
(or <a href="http://twitter.com/dracos">@dracos</a> for my personal account
which is much more inane).

{% endblock %}
