{% extends 'base.html' %}

{% block title %}Assistance{% endblock %}

{% block content %}

<h1>Assistance</h1>

<p>As this site has only just launched, we don&rsquo;t really know what people need
assistance with yet. If you&rsquo;ve found a mistake on the site, please
do <em>not</em> get in touch &ndash; create an account and correct the mistake
yourself!</p>

<dl>

<dt>My local theatre is missing; I&rsquo;m missing; This famous actor/ play/ theatre/ production is missing!</dt>
<dd>
<em>Theatricalia</em> is based around productions &ndash; if a play has not been and is not going to be performed,
or if a theatre has never or is not going to host a production, it does not yet need to be on the site. To add a production, 
<a href="{% url production-add %}">follow the simple interface</a> (you can also follow links from any
existing place or play page), and you can add any missing play,
place, or people along the way.

<dt>What do I do if there are two entries for the same play/ place/ production company/ person?</dt>
<dd>Please use the duplicate link on one entry, and then the button that appears on the duplicate entry, to let me know about the duplicate.
I will merge one into the other, hopefully without losing any information.</dd>

<dt>I have some theatre programmes, but I don&rsquo;t have the time to enter all the information. How can I help?</dt>
<dd>Please <a href="http://www.flickr.com/groups/theatricalia/">upload programme pictures</a> to our Theatricalia
Flickr group. That way, someone else might have the time to add the information. Every little helps.</dd>

<dt>I have a database of theatre productions that I would like to put on Theatricalia &ndash; is that possible?</dt>
<dd>It is indeed, and thank you &ndash; please
<a href="/criticism">get in touch</a> and we&rsquo;ll get it on the site
without you having to type it all in again!
</dd>

<dt>That&rsquo;s not a Google Map, or even a normal OpenStreetMap map.</dt>
<dd>Correct &ndash; it&rsquo;s made using CloudMade&rsquo;s map style editor, and is an altered version of the RideTheCity&nbsp;3 style. I think it&rsquo;s rather pretty.

<dt>How does the search work? I typed <a href="/search?q=katie+stevens#search_people">Katie Stevens</a> and it knew I meant <a href="/person/9mt/katy-stephens">Katy Stephens</a>.</dt>
<dd>It&rsquo;s magic, in the Arthur C.&#8201;Clarke sense.
Actually, it involves a nifty thing called homophone matching<!-- and Jarow distance matching -->.
If you&rsquo;re interested, the algorithm I use is available
<a href="http://github.com/dracos/double-metaphone">on my GitHub</a>.

<dt>The space between the &ldquo;C&rdquo; and the &ldquo;Clarke&rdquo; in the previous question is smaller than a normal space. You&rsquo;ve gone a bit overboard typographically, haven&rsquo;t you?
<dd>No. Websites can try and follow <cite>The Elements of Typographic Style</cite>; it&rsquo;s nicer.
I am happy every time I see the profile pages using the possessive apostrophe correctly;
that dates are all printed prettily; that the only ' and " on this site will be if a
play title includes feet and inches (and at that point I&rsquo;ll have to write some code for that).
Please make sure your contributions use correct spelling and grammar. &#9786;

<dt>You&rsquo;re missing a country from your list?</dt>
<dd>To paraphrase <a href="http://unstats.un.org/unsd/methods/m49/m49alpha.htm">the United Nations list of countries</a>:
<blockquote>&ldquo;The designations employed and the presentation of country or area
    names in this list do not imply the expression of any opinion whatsoever on
    the part of [us] concerning 
    the legal status of any country, territory, city or area or of its 
    authorities, or concerning the delimitation of its frontiers or boundaries.&rdquo;</blockquote>

<dt>I have a bug report or feature request</dt>
<dd>Please do <a href="/criticism">get in touch</a>.
</dl>

{% endblock %}
