{% extends 'base.html' %}

{% block title %}Help &amp; Frequently Asked Questions{% endblock %}

{% block content %}

<h1>Help &amp; Frequently Asked Questions</h1>

<p>As this site has only just launched, we haven&rsquo;t got many frequently
asked questions yet. If you&rsquo;re puzzled by something on the site, enjoy
trying to work out the solution.
If you&rsquo;ve found a mistake on the site, please
do <em>not</em> get in touch &ndash; create an account and correct the mistake
yourself!</p>

<dl>
<dt>My local theatre is missing; I&rsquo;m missing; This famous actor/ play/ theatre/ production is missing!</dt>
<dd>Not a question, but easy to point in the right direction.
<em>Theatricalia</em> is based around productions &ndash; if a play has not been and is not going to be performed,
or if a theatre has never or is not going to host a production, we don&rsquo;t care. To add a production, 
<a href="{% url production-add %}">follow our simple interface</a> (you can also follow links from any
existing place or play page), and you can add any missing play,
place, or people along the way.

<dt>I think your design/ <acronym title="user interface">UI</acronym>/ premise sucks.
<dd>Still not a question. Good for you, everyone&rsquo;s entitled to their opinion.

<dt>That&rsquo;s not a Google Map, or even a normal OpenStreetMap map.</dt>
<dd>That&rsquo;s correct (and not a question). It&rsquo;s made using CloudMade&rsquo;s map style editor, and is an altered version of the RideThatCity3 style.

<dt>How does the search work? I typed <a href="/search?q=katie+stevens#search_people">Katie Stevens</a> and it knew I meant <a href="/person/9mt/katy-stephens">Katy Stephens</a>.</dt>
<dd>At last! Magic, in the Arthur C. Clarke sense.

</dl>

{% endblock %}
