{% extends 'base.html' %}

{% block title %}Help &amp; Frequently Asked Questions{% endblock %}

{% block content %}

<h1>Help &amp; Frequently Asked Questions</h1>

<p><em>Need to know what to help people with.</em></p>

<p>As this site has only just launched, we haven&rsquo;t got any frequently
asked questions yet. If you&rsquo;re puzzled by something on the site,
do get in touch. If you&rsquo;ve found a mistake on the site, though, please
do <em>not</em> get in touch &ndash; create an account and correct the mistake
yourself!</p>

{% endblock %}
