{% extends 'base.html' %}
{% load prettify %}

{% block extra_head %}
<link href="/publicity/feed" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block fulltitle %}Theatricalia{% endblock %}

{% block extra_body %} id="home"{% endblock %}

{% block content %}

<div class="col" id="features">

<p id="hello">Hello and welcome to Theatricalia, a <strong>database</strong> of past
and future <strong>theatre productions</strong>.

<h2 class="no-descenders">Features</h2>

<ul>
<li>Anyone can <a href="/add" title="Add a production">add a production</a>
if it&rsquo;s not on the site, or fix mistakes.
<li>Each place, person, and play has an RSS feed or email alert, so you can keep up
to date with what something or someone is doing.
<li>Search for a person, play, place, or part;
or search for a location to find things near you.
</ul>

</div>

<div class="col" id="status">

<p>Theatricalia knows about
<strong>{{ people|prettify_num }}</strong> people being cast and crew in
<strong>{{ parts|prettify_num }}</strong> r&ocirc;les, in
<strong>{{ productions|prettify_num }}</strong> productions of
<strong>{{ plays|prettify_num }}</strong> plays at
<strong>{{ places|prettify_num }}</strong> places.
</p>

<h2>For example&hellip;</h2>

{% if random_photo %}

{% with random_photo.0.content_object as production %}
<p><img align="right" src="{{ random_photo.0.photo.extra_thumbnails.feature }}" alt="" style="margin-left:0.5em">
<a href="{{ production.play.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}
by {{ production.get_companies_display }}{% endif %},

{% ifequal production.places.count 1 %}
    {{ production.date_summary|prettify }},
    at <a href="{{ production.places.all.0.get_absolute_url }}">{{ production.places.all.0.get_name_display|prettify }}</a>.</p>
{% else %}
    {% ifequal production.places.count 0 %}
                at an unknown location.
    {% else %}
                       at
        {% for place in production.place_set.all %}
            {% if forloop.last and not forloop.first %} and {% endif %}
            <a href="{{ place.place.get_absolute_url }}">{{ place.place.get_name_display|prettify }}</a>
            <small>({{ place.date_summary|prettify }})</small>{% ifequal forloop.revcounter0 0 %}{% else %}{% ifequal forloop.revcounter0 1 %}{% ifnotequal forloop.counter0 0 %},{% endifnotequal %}{% else %},{% endifequal %}{% endifequal %}{% endfor %}.
    {% endifequal %}
{% endifequal %}

<p align="right"><a href="{{ production.get_absolute_url }}">More &rarr;</a></p>

{% endwith %}

{% else %}

<p><img align="right" width=115 height=155 src="/static/i/hamlet.jpg" alt="" style="margin-left:0.5em">
<a href="/person/7xk/david-tennant">David Tennant</a>
played the title role in the
<a href="/play/2/hamlet/production/3qn">Royal Shakespeare Company&rsquo;s production</a>
of <a href="/play/2/hamlet">Hamlet</a> by
<a href="/person/1/william-shakespeare">William Shakespeare</a>
at the <a href="/place/46/courtyard-theatre-stratford-upon-avon">Courtyard Theatre</a>.
<p>David also appeared in a
<a href="/play/3/as-you-like-it/production/2y8">production of As You Like It</a>, alongside
<a href="/person/7rg/colin-farrell">Colin Farrell</a> and
<a href="/person/7sm/joseph-fiennes">Joseph Fiennes</a>.

{% endif %}

</div>

<div id="latest" class="col">

<h2 class="no-descenders">Site news</h2>

{% if latest_news %}
    <p><strong>{{ latest_news.title }}:</strong>
    {{ latest_news.body|safe|truncatewords:"20"|prettify }}
    <a href="{{ latest_news.get_absolute_url }}">More &rarr;</a>
{% else %}
    <p>No news yet, we haven&rsquo;t launched!</p>
{% endif %}

<h2 class="no-descenders">Most recent&hellip;</h2>

<ul>
<li><strong>&hellip;addition:</strong>
{% if latest_production %}
<a href="{{ latest_production.get_absolute_url }}">{{ latest_production.play.get_title_display|prettify }}</a>,
{% ifequal latest_production.places.count 1 %}
    at <a href="{{ latest_production.places.all.0.get_absolute_url }}">{{ latest_production.places.all.0|prettify }}</a>,
    {{ latest_production.date_summary|prettify }}.
    {% if latest_production.place_set.all.0.press_date and latest_production.place_set.all.0.start_date %}
        Press night was {{ latest_production.place_set.all.0.press_date|date:"jS F Y"|prettify }}.
    {% endif %}
{% else %}
{% ifequal latest_production.places.count 0 %}
    at an unknown location.
{% else %}
    at
    {% for place in latest_production.place_set.all %}
        {% if forloop.last and not forloop.first %} and {% endif %}
        <a href="{{ place.place.get_absolute_url }}">{{ place.place|prettify }}</a>
        <small>({{ place.date_summary|prettify }})</small>{% ifequal forloop.revcounter0 0 %}{% else %}{% ifequal forloop.revcounter0 1 %}{% ifnotequal forloop.counter0 0 %},{% endifnotequal %}{% else %},{% endifequal %}{% endifequal %}{% endfor %}.
{% endifequal %}
{% endifequal %}
{% ifnotequal latest_production.last_modifier latest_production.creator %}
Added by <a href="{{ latest_production.creator.get_profile.get_absolute_url }}">{{ latest_production.creator.name }}</a>, last modified by <a href="{{ latest_production.last_modifier.get_profile.get_absolute_url }}">{{ latest_production.last_modifier.name }}</a>.
{% else %}
{% if latest_production.creator.name %}
Added by <a href="{{ latest_production.creator.get_profile.get_absolute_url }}">{{ latest_production.creator.name }}</a>.
{% endif %}
{% endifnotequal %}
{% else %}
Nothing in the system yet!
{% endif %}

<li><strong>&hellip;observation:</strong>

{% if latest_observation %}
On {{ latest_observation.submit_date|date:"jS F Y"|prettify }}
at {{ latest_observation.submit_date|date:"g:i a" }},
<a href="{{ latest_observation.user.get_profile.get_absolute_url }}">{{ latest_observation.user_name|prettify }}</a> noted,
about a <a href="{{ latest_observation.content_object.get_absolute_url }}">production</a> of {{ latest_observation.content_object.play.get_title_display|prettify }}:</p>
<blockquote><p>{{ latest_observation.comment|truncatewords:10|prettify }}
<a href="{{ latest_observation.content_object.get_absolute_url }}#o{{ latest_observation.id }}">More &rarr;</a>
</p></blockquote>
{% else %}
<p>Nothing in the system yet!</p>
{% endif %}

</ul>

</div>

<div id="warning">
<p><em>Please be aware that no photography or recording equipment is allowed,
and no food or drink is to be consumed, within the theatre.
Please turn off all mobile telephones and other devices that may sound,
as these distract not only the audience, but also the performers.</em>
Thank you.</p>
</div>

{% endblock %}
