{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ place|prettify }}{% endblock %}

{% block extra_head %}
<link href="{{ place.get_feed_url }}" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block content %}

<h1>{{ place.name|prettify }}</h1>

{% include 'includes/messages.html' %}

<div id="primary">

{% if place.description %}
{{ place.description|prettify|linebreaks }}
{% endif %}

{% if future.object_list %}
<h2>Current &amp; Upcoming productions</h2>
<ul class="production_list">
{% for production in future.object_list %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play|prettify }}</a>, {{ production.title|prettify }}
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% if future.has_other_pages %}
<p align="right"><a href="{{ place.get_future_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

{% if past.object_list %}
<h2>Past productions</h2>
<ul class="production_list">
{% for production in past.object_list %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play|prettify }}</a>{% if production.title %}, {{ production.title|prettify }}{% endif %}
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% if past.has_other_pages %}
<p align="right"><a href="{{ place.get_past_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

</div>

<div class="secondary">

{% if place.photos.all %}
    {% with place.photos.all|random as photo %}
    <div id="photograph-feature">
    <a href="{{ photo.get_absolute_url }}">{{ photo.photo.thumbnail_tag }}</a>
    </div>
    {% endwith %}
{% endif %}

<ul>

{% if place.address or place.town or place.postcode %}
<li>
<address>{{ place.address }}{% if place.address and place.town %}, {% endif %}{{ place.town }}{% if place.address or place.town %}{% if place.postcode %}, {% endif %}{% endif %}{{ place.postcode }}
</address>
</li>
{% endif %}

{% if place.type or place.size %}
    <li>
    {% if place.type %}A {{ place.type }} theatre{% endif %}{% if place.size and place.type %},
    s{% else %}S{% endif %}{%if place.size %}eats {{ place.size }}{% endif %}.
{% endif %}
{% if place.opening_date %}<li>{{ place.opening_date }}{% endif %}
{% if place.url %}<li><a href="{{ place.url }}">Official website</a>{% endif %}
{% if place.wikipedia %}<li><a href="{{ place.wikipedia }}">Wikipedia</a>{% endif %}
</ul>

{% if place.latitude and place.longitude %}
<script type="text/javascript">
$(function(){
    map.setCenter(new GLatLng({{ place.latitude }}, {{ place.longitude }}), 13);
    marker = new GMarker(new GLatLng({{ place.latitude }}, {{ place.longitude }}), { icon: tinyIcon });
    map.addOverlay(marker);
});
</script>
<div id="map"></div>
{% endif %}

{% if place.photos.all %}
    <div id="photographs">
<h2>Photographs</h2>
    <ul>
    {% for photo in place.photos.all %}
    <li><a href="{{ photo.get_absolute_url }}">{{ photo.photo.thumbnail_tag }}</a>
    {% endfor %}
    </ul>
    </div>
{% endif %}

{% if user.is_authenticated %}
<p style="margin-bottom:0" class="clear">If you have a photograph or picture of this place, and you
have permission to do so, please upload it here.</p>

<form method="post" action="{% url take-photo %}" enctype="multipart/form-data">
{{ photo_form.content_type }}{{ photo_form.object_id }}
<input type="hidden" name="next" value="{{ request.path }}#photographs">
<table>
<tr><th><label for="id_title">{{ photo_form.title.label }}:</label></th><td>{{ photo_form.title }}</td></tr>
<tr><th><label for="id_photo">{{ photo_form.photo.label }}:</label></th><td>{{ photo_form.photo }}</td></tr>
</table>
<p style="margin-top:0em;"><input type="submit" value="Add"></p>
</form>
{% else %}
<p class="clear">If you have a photograph or picture of this place you wish
to upload, please <a href="{% url login %}?next={{ request.path }}">sign in</a>.</p>

{% endif %}

<p><a href="{{ place.get_edit_url }}">Edit this place&rsquo;s information</a></p>

<p><a href="">Add a production here</a></p>
</div>

{% endblock %}
