{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ place|prettify }}{% endblock %}

{% block extra_head %}
<link href="{{ place.get_feed_url }}" type="application/rss+xml" rel="alternate">
<script type="text/javascript" src="/static/js/web-maps-lite.js"></script>
{% endblock %}

{% block content %}

<h1>{{ place.get_name_display|prettify }}</h1>

{% include 'includes/messages.html' %}

<div id="primary">

{% if place.description %}
{{ place.description|prettify|linebreaks }}
{% endif %}

{% if future.object_list %}
<h2>Current &amp; Upcoming productions</h2>
<ul class="production_list">
{% for production in future.object_list %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play|prettify }}</a>{% if production.title %}, {{ production.title|prettify }}{% endif %}
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% if future.has_other_pages %}
<p align="right"><a href="{{ place.get_future_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

{% if past.object_list %}
<h2>Past productions</h2>
<ul class="production_list">
{% for production in past.object_list %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play|prettify }}</a>{% if production.title %}, {{ production.title|prettify }}{% endif %}
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% if past.has_other_pages %}
<p align="right"><a href="{{ place.get_past_url }}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

</div>

<div class="secondary">

{% if place.photos.all %}
    {% with place.photos.all|random as photo %}
    <div id="photograph-feature">
    <a href="{{ photo.get_absolute_url }}">{{ photo.photo.extra_thumbnails_tag.feature }}</a>
    </div>
    {% endwith %}
{% endif %}

<ul>

{% if place.address or place.town or place.postcode %}
<li>
<address>{{ place.address }}{% if place.address and place.town %}, {% endif %}{{ place.town }}{% if place.address or place.town %}{% if place.postcode %}, {% endif %}{% endif %}{{ place.postcode }}
</address>
</li>
{% endif %}

{% if place.type or place.size %}
    <li>
    {% if place.type %}{% ifequal place.type "multiple" %}An adaptable theatre{% else %}A {{ place.type }} theatre{% endifequal %}{% endif %}{% if place.size and place.type %},
    s{% else %}{% if place.size %}S{% endif %}{% endif %}{%if place.size %}eats {{ place.size }}{% endif %}.
{% endif %}
{% if place.opening_date %}<li>Opened {{ place.opening_date|prettify }}{% endif %}
{% if place.url %}<li><a href="{{ place.url }}">Official website</a>{% endif %}
{% if place.wikipedia %}<li><a href="{{ place.wikipedia }}">Wikipedia</a>{% endif %}
</ul>

{% if place.latitude and place.longitude %}
<script type="text/javascript">
$(function(){
    map.setCenter(new CM.LatLng({{ place.latitude }}, {{ place.longitude }}), 14);
    marker = new CM.Marker(new CM.LatLng({{ place.latitude }}, {{ place.longitude }}), { icon: tinyIcon });
    map.addOverlay(marker);
});
</script>
<div class="clear" id="map"></div>
<p id="map-nojs"><img src="http://maps.google.com/staticmap?zoom=14&size=300x300&maptype=roadmap&markers={{ place.latitude }},{{ place.longitude }},smallred&sensor=false&key=ABQIAAAAr0jEilTj74QAOSQ54V3GrxQi7pH9eW_TVT-JV0JhoiD8D-2d8BSEfMWhkhrn96EYsa3PDcwO_RNspQ"></p>
{% endif %}

<ul class="clear">
<li><a href="{{ place.get_edit_url }}">Edit this place&rsquo;s information</a></li>
<li><a href="{{ place.get_add_production_url }}">Add a production here</a></li>
{% if alert %}
<li><a href="{{ place.get_alert_remove_url }}">Stop alerting me to productions here</a>
{% else %}
<li><a href="{{ place.get_alert_add_url }}">Alert me to productions here</a>
{% endif %}
<li><a href="{{ place.get_productions_url }}">A&ndash;Z of all productions at this place</a></li>
</ul>

{% if place.photos.all %}
    <div id="photographs">
<h2>Photographs</h2>
    <ul>
    {% for photo in place.photos.all %}
    <li><a href="{{ photo.get_absolute_url }}">{{ photo.photo.thumbnail_tag }}</a>
    {% endfor %}
    </ul>
    </div>
{% endif %}

{% if user.is_authenticated %}
    <p class="clear before_form">If you have a photograph or picture of this place, and you
    have permission to do so, please upload it here.</p>
    {% include 'includes/photo-form.html' %}
{% else %}
    <p class="clear">If you have a photograph or picture of this place you wish
    to upload, please <a href="{% url login %}?next={{ request.path }}">sign in</a>.</p>
{% endif %}

</div>

{% endblock %}
