{% extends 'base.html' %}
{% load prettify %}{% load comments %}

{% block title %}Production of {{ production.play|prettify }}{% endblock %}

{% block content %}

<h1>{{ production.play|prettify }}</h1>

{% include 'includes/messages.html' %}

<div id="primary">

{% if production.description %}
{{ production.description|prettify|linebreaks }}
{% endif %}

<h2 class="no-descenders">Cast &amp; Crew</h2>

{% if cast %}
<h3 class="hide">Cast</h3>
{% endif %}

{% if cast or crew %}
<table class="parts">
{% endif %}

{% for part in cast %}
<tr><th>{{ part.role_or_unknown }}</th>
<td><a href="{{ part.person.get_absolute_url }}">{{ part.person|prettify }}</a>
{% if part.credited_as %}<br>&nbsp;&nbsp;<small>(credited as {{ part.credited_as|prettify }})</small>{% endif %}
</td></tr>
{% endfor %}

{% if crew %}
<tr class="nodrag"><th colspan="2"><h3>Crew</h3></th></tr>
{% endif %}

{% for part in crew %}
<tr><th>{{ part.role_or_unknown }}</th>
<td><a href="{{ part.person.get_absolute_url }}">{{ part.person|prettify }}</a>
{% if part.credited_as %}<br>&nbsp;&nbsp;<small>(credited as {{ part.credited_as|prettify }})</small>{% endif %}
</td></tr>
{% endfor %}

{% if cast or crew %}
</table>
{% else %}
<p>Currently unknown; if you can provide some information about this production, please
<a href="{{ production.get_edit_url }}">do add it to the site</a>.</p>
{% endif %}

<h2 id="observations" class="no-descenders"><!-- Anecdotes &amp; -->Observations</h2>

{% get_comment_count for production as comment_count %}
{% get_comment_list for production as observations %}
{% if observations %}
<ol id="observation_list">
{% for observation in observations %}
<li id="o{{ observation.id }}">
<p class="posted-by">
<span class="meta">On {{ observation.submit_date|date:"jS F Y"|prettify }}
at <a title="Permanent link to this observation" href="{{ request.path }}#o{{ observation.id }}">{{ observation.submit_date|date:"g:i a" }}</a>,
<a href="{{ observation.user.get_profile.get_absolute_url }}">{{ observation.user_name|title }}</a> noted:</p>
<blockquote>{{ observation.comment|prettify|urlize|linebreaks }}</blockquote>
</li>
{% endfor %}
</ol>
{% endif %}

{% if user.is_authenticated %}
{% get_comment_form for production as form %}
<form action="{% comment_form_target %}" method="post">
        {{ form.comment.errors }} 
        <p><label for="id_comment">If you have an interesting observation or anecdote about this production
that you think others may be interested in, please feel free to record it here:</label></p>
        <p>{{ form.comment }}</p>
    <div class="hide">
        {{ form.honeypot.errors }}
        {{ form.honeypot.label_tag }} {{ form.honeypot }}
    </div>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ request.path }}#observations">
    <p><input type="submit" value="Store"></p>
</form>
{% else %}
<p>If you have an interesting observation or anecdote about this production
that you think others may be interested in, please
<a href="{% url login %}?next={{ request.path }}%23observations">sign in</a> in order to record it here.</p>
{% endif %}
        
</div>

<div id="sidebar_tulip" class="secondary"><div id="sidebar_tulip_r" role="contentinfo">

<p>This is a production of the play
<a href="{{ production.play.get_absolute_url }}">{{ production.play|prettify }}</a>{% if production.company %}
by {{ production.company|prettify }}{% endif %},

{% include 'productions/sidebar_bit.html' %}

{% if production.source %}
<p><small>Source: {{ production.source|safe }}</small></p>
{% endif %}

</div></div>

<div class="secondary" id="production-stuff">

<ul>
<li><a href="#observations">{% if comment_count %}Observations ({{ comment_count }}){% else %}Add observation{% endif %}</a>
<li id="edit-link"><a href="{{ production.get_edit_url }}?js=0">Edit this production</a>

{% if seen %}
    {% if production.finished %}
        <li>You saw this production &ndash; <a href="{{ production.get_seen_no_url }}">correct inaccuracy</a>
    {% else %}
        {% if production.started %}
            <li>You saw or are going to see this production &ndash; <a href="{{ production.get_seen_no_url }}">correct inaccuracy</a>
        {% else %}
            <li>You are going to see this production &ndash; <a href="{{ production.get_seen_no_url }}">correct inaccuracy</a>
        {% endif %}
    {% endif %}
{% else %}
    {% if production.finished %}
        <li><a href="{{ production.get_seen_url }}">I saw this production</a>
    {% else %}
        {% if production.started %}
            <li><a href="{{ production.get_seen_url }}">I saw or am going to see this production</a>
        {% else %}
            <li><a href="{{ production.get_seen_url }}">I&rsquo;m going to see this production</a>
        {% endif %}
    {% endif %}
{% endif %}

</ul>

{% if production.seen_by.count %}
<h2>Seen by</h2>
<ul id="seen_by">
{% for u in production.seen_by.all %}
<li><a href="{{ u.get_profile.get_absolute_url }}">{% firstof u.name u.username %}</a>
{% endfor %}
</ul>
{% endif %}

<div id="photographs">
<h2>Photographs</h2>

{% if production.photos.all %}
<ul>
{% for photo in production.photos.all %}
<li><a href="{{ photo.photo.extra_thumbnails.larger }}">{{ photo.photo.thumbnail_tag }}</a>
{% endfor %}
</ul>
{% endif %}

</div>

{% if user.is_authenticated %}
    <p class="clear before_form">If you have a photograph or picture that illustrates this production and you
    have permission to do so, please upload it here.</p>
    {% include 'includes/photo-form.html' %}
{% else %}
    <p class="clear">If you have a photograph or picture that illustrates this production that you wish
    to upload, please <a href="{% url login %}?next={{ request.path }}">sign in</a>.</p>
{% endif %}

</div>

{% endblock %}
