{% extends 'base.html' %}
{% load prettify %}{% load comments %}

{% block title %}Production of {{ production.play.get_title_display|prettify|striptags }}{% endblock %}

{% block extra_head %}
<link rev="canonical" type="text/html" href="http://theatricalia.com/d/{{ production.id32 }}">
{% endblock %}

{% block content %}
<div itemscope itemtype="http://schema.org/TheaterEvent">

{% if request.session.merging_production %}
{% with production as object %}{% with request.session.merging_production as duplicate %}
{% include 'merged/buttons.html' %}
{% endwith %}{% endwith %}
{% endif %}

{% if production.photos.all %}
    {% with production.photos.all|random as photo %}
    <div id="photograph-feature">
    <a href="/static/{{ photo.photo }}" title="{{ photo.title }}">{{ photo.photo.extra_thumbnails_tag.feature }}</a>
    </div>
    {% endwith %}
{% else %}{% if flickr.photos.photo %}
    {% with flickr.photos.photo|random as photo %}
    <div id="photograph-feature">
    <a href="http://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}/" title="{{ photo.title }}"><img src="http://farm{{ photo.farm }}.static.flickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_s.jpg" alt="{{ photo.title }}"></a>
    </div>
    {% endwith %}
{% endif %}{% endif %}

{% if production.book_tickets and not production.finished %}
<div class="secondary">
<p id="book-tickets"><a rel="nofollow" itemprop="offers" href="{{ production.book_tickets }}">Book tickets</a></p>
</div>
{% endif %}

<h1 itemprop="name">{{ production.play.get_title_display|prettify }}</h1>

{% include 'includes/messages.html' %}

{% if production.description %}
<div class="primary" itemprop="description">{{ production.description|prettify|linebreaks }}</div>
{% else %}
{% if production.play.description %}
<div class="primary"><p><em>This specific production does not yet have a description, but the play itself does:</em></p>
{{ production.play.description|prettify|linebreaks }}
</div>
{% else %}
{% if user.is_authenticated %}
<div class="primary"><p>If you have a description of this production, please do
<a href="{{ production.get_edit_url }}">add it</a>.</div>
{% endif %}
{% endif %}
{% endif %}

<div id="sidebar_tulip" class="secondary"><div id="sidebar_tulip_r" role="contentinfo">

<p>This is a production of the play
<a href="{{ production.play.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.play.get_authors_display %}
(by {{ production.play.get_authors_display }}){% endif %}{% if production.get_companies_display %} by {{ production.get_companies_display }}{% endif %},

{% include 'productions/sidebar_bit.html' %}

</div></div>

<div class="primary">

<h2 class="no-descenders">Cast &amp; Crew</h2>

{% if cast %}
<h3 class="hide">Cast</h3>
{% endif %}

{% if cast or crew or other %}
<table class="parts">
{% endif %}

{% for part in cast %}
<tr><th>{{ part.role_or_unknown|prettify }}</th>
<td itemprop="performers" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{{ part.person.get_absolute_url }}">{{ part.person|prettify }}</a>
{% if part.credited_as %}<br>&nbsp;&nbsp;<small>({% ifnotequal part.credited_as "uncredited" %}credited as {% endifnotequal %}{{ part.credited_as|prettify }})</small>{% endif %}
{% if part.start_date or part.end_date %}<br>&nbsp;&nbsp;<small>({{ part.date_summary|prettify }})</small>{% endif %}
</td></tr>
{% endfor %}

{% if crew %}
<tr class="nodrag"><th colspan="2"><h3>Crew</h3></th></tr>
{% endif %}

{% for part in crew %}
<tr><th>{{ part.role_or_unknown|prettify }}</th>
<td itemprop="performers" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{{ part.person.get_absolute_url }}">{{ part.person|prettify }}</a>
{% if part.credited_as %}<br>&nbsp;&nbsp;<small>(credited as {{ part.credited_as|prettify }})</small>{% endif %}
{% if part.start_date or part.end_date %}<br>&nbsp;&nbsp;<small>({{ part.date_summary|prettify }})</small>{% endif %}
</td></tr>
{% endfor %}

{% for part in other %}
<tr><th>{{ part.role_or_unknown|prettify }}</th>
<td itemprop="performers" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{{ part.person.get_absolute_url }}">{{ part.person|prettify }}</a>
{% if part.credited_as %}<br>&nbsp;&nbsp;<small>(credited as {{ part.credited_as|prettify }})</small>{% endif %}
{% if part.start_date or part.end_date %}<br>&nbsp;&nbsp;<small>({{ part.date_summary|prettify }})</small>{% endif %}
</td></tr>
{% endfor %}

{% if cast or crew or other %}
</table>
{% else %}

<p>Currently unknown; if you can provide some information about this production, please
<a href="{{ production.get_edit_url }}">do add it to the site</a>.</p>

{% endif %}

</div>

<div class="secondary" id="production-stuff">

<div style="float: right">
<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="theatricalia" data-related="dracos">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>

<ul id="production-meta">

{% if production.url %}
<li><a rel="nofollow" href="{{ production.url }}">Production website</a></li>
{% endif %}

{% if comment_count %}
<li><a href="#observations">Observations ({{ comment_count }})</a></li>
{% endif %}

{% if production.source %}
    <li>Source: {{ production.source|safe }}</li>
{% endif %}

{% ifnotequal production.last_modifier production.creator %}
    {% if production.creator.name %}
        <li>Added by <a href="{{ production.creator.get_profile.get_absolute_url }}">{{ production.creator.name }}</a>, last modified by <a href="{{ production.last_modifier.get_profile.get_absolute_url }}">{{ production.last_modifier.name }}</a>.</li>
    {% else %}
        <li>Last modified by <a href="{{ production.last_modifier.get_profile.get_absolute_url }}">{{ production.last_modifier.name }}</a>.</li>
    {% endif %}
{% else %}
    {% if production.creator.name %}
        <li>Added by <a href="{{ production.creator.get_profile.get_absolute_url }}">{{ production.creator.name }}</a>.</li>
    {% else %}
        {% if production.last_modifier.name %}
            <li>Last modified by <a href="{{ production.last_modifier.get_profile.get_absolute_url }}">{{ production.last_modifier.name }}</a>.</li>
        {% endif %}
    {% endif %}
{% endifnotequal %}

</ul>

<ul id="production-tools">

{% if not comment_count %}
<li><a href="#observations">Add an observation</a></li>
{% endif %}

<li id="edit-link"><a href="{{ production.get_edit_url }}?js=0">Edit this production</a>

{% if seen %}
    {% if production.finished %}
        <li>You saw this production &ndash; <a href="{{ production.get_seen_no_url }}">oh no I didn&rsquo;t</a>
    {% else %}
        {% if production.started %}
            <li>You saw or are going to see this production &ndash; <a href="{{ production.get_seen_no_url }}">oh no I&rsquo;m not</a>
        {% else %}
            <li>You are going to see this production &ndash; <a href="{{ production.get_seen_no_url }}">oh no I&rsquo;m not</a>
        {% endif %}
    {% endif %}
{% else %}
    {% if production.finished %}
        <li><a href="{{ production.get_seen_url }}">I saw this production</a>
    {% else %}
        {% if production.started %}
            <li><a href="{{ production.get_seen_url }}">I saw or am going to see this production</a>
        {% else %}
            <li><a href="{{ production.get_seen_url }}">I&rsquo;m going to see this production</a>
        {% endif %}
    {% endif %}
{% endif %}

{% if user.is_superuser %}
<li><a href="/admin/productions/production/{{ production.id }}">Admin</a>
{% endif %}

{% if not request.session.merging_production %}
<li><a rel="nofollow" href="{{ production.get_absolute_url }}/merge">This is a duplicate of another production</a>
{% endif %}

</ul>

{% if production.seen_by.count %}
{% if production.finished %}<h2>Seen by</h2>{% else %}
{% if production.started %}<h2>Seen, or going to see</h2>
{% else %}<h2>Going to see</h2>
{% endif %}
{% endif %}
<ul id="seen_by">
{% for u in production.seen_by.all %}
<li itemprop="attendees" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{{ u.get_profile.get_absolute_url }}">{% firstof u.name u.username %}</a>
{% endfor %}
</ul>
{% endif %}

<div id="photographs">
<h2>Photographs</h2>

{% if production.photos.all or flickr.photos.photo %}
<ul>
{% for photo in production.photos.all %}
<li><a rel="gallery" href="/static/{{ photo.photo }}" title="{{ photo.title }}">{{ photo.photo.thumbnail_tag }}</a>
{% endfor %}
{% for photo in flickr.photos.photo %}
<li><a rel="gallery" href="http://www.flickr.com/photos/{{ photo.owner }}/{{ photo.id }}/" title="{{ photo.title }}"><img src="http://farm{{ photo.farm }}.static.flickr.com/{{ photo.server }}/{{ photo.id }}_{{ photo.secret }}_s.jpg" alt="{{ photo.title }}"></a>
{% endfor %}
</ul>
{% endif %}
</div>

{% if user.is_authenticated %}
    <p class="clear before_form">If you have a photograph or picture that illustrates this production,
    please either upload it here, or add it to <a href="http://flickr.com/">Flickr</a> and tag it with
    <input type="text" value="theatricalia:production={{ production.id32 }}" onclick="this.focus();this.select();" readonly size=25>.</p>
    {% include 'includes/photo-form.html' %}
{% else %}
    <p class="clear">If you have a photograph or picture that illustrates this production,
    please <a href="{% url login %}?next={{ request.path }}">sign in</a> to upload it, or
    add it to <a href="http://flickr.com/">Flickr</a> and tag it with
    <input type="text" value="theatricalia:production={{ production.id32 }}" onclick="this.focus();this.select();" readonly size=25>.</p>
{% endif %}

{% if production.description and production.play.description %}
<h2 class="no-descenders">Play description</h2>
{{ production.play.description|prettify|linebreaks }}
{% endif %}

</div>

<div class="primary">

<h2 id="observations" class="no-descenders"><!-- Anecdotes &amp; -->Observations</h2>

{% get_comment_count for production as comment_count %}
{% get_comment_list for production as observations %}
{% if observations %}
<ol id="observation_list">
{% for observation in observations %}
<li id="o{{ observation.id }}">
<p class="posted-by">
<span class="meta">On {{ observation.submit_date|date:"jS F Y"|prettify }}
at <a title="Permanent link to this observation" href="{{ request.path }}#o{{ observation.id }}">{{ observation.submit_date|date:"g:i a" }}</a>,
<a href="{{ observation.user.get_profile.get_absolute_url }}">{{ observation.user_name|prettify }}</a> noted:</p>
<blockquote>{{ observation.comment|prettify|urlize|linebreaks }}</blockquote>
</li>
{% endfor %}
</ol>
{% endif %}

{% if user.is_authenticated %}
{% get_comment_form for production as form %}
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
        {{ form.comment.errors }} 
        <p><label for="id_comment">If you have an interesting observation or anecdote about this production
that you think others may be interested in, please feel free to record it here:</label></p>
        <p>{{ form.comment }}</p>
    <div class="hide">
        {{ form.honeypot.errors }}
        {{ form.honeypot.label_tag }} {{ form.honeypot }}
    </div>
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    <input type="hidden" name="next" value="{{ request.path }}#observations">
    <p><input type="submit" value="Store"></p>
</form>
{% else %}
<p>If you have an interesting observation or anecdote about this production
that you think others may be interested in, please
<a href="{% url login %}?next={{ request.path }}%23observations">sign in</a> in order to record it here.</p>
{% endif %}

</div>

</div>

{% endblock %}
