{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing your profile{% endblock %}

{% block content %}

<h1>Editing your profile</h1>

<div id="primary">

<form method="post" id="edit">
{{ form.as_p }}
<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</form>

</div>

<div class="secondary">

<h2 class="no-descenders">Your alerts</h2>
{% if user.alerts.all or user.local_alerts.all %}
<ul>
{% for alert in user.alerts.all %}
<li>{{ alert }} &ndash; <a href="{{ profile.get_alert_remove_url }}/{{ alert.id }}">remove</a>
{% endfor %}
{% for alert in user.local_alerts.all %}
<li>{{ alert }} &ndash; <a href="{{ profile.get_alert_remove_url }}/{{ alert.id }}">remove</a>
{% endfor %}
</ul>
{% else %}
<p>You currently have no alerts. Visit a person, play, or place
page to set one up.
{% endif %}

</div>

{% endblock %}
