{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ view.name|prettify }}&rsquo;{% ifnotequal view.name|last 's' %}s{% endifnotequal %} profile{% endblock %}

{% block extra_head %}
<link href="{{ profile.get_absolute_url }}/feed/seen" title="Feed of seen productions" type="application/rss+xml" rel="alternate">
{% endblock %}

{% block content %}

<h1>{{ view.name|prettify }}&rsquo;{% ifnotequal view.name|last 's' %}s{% endifnotequal %} profile</h1>

{% include 'includes/messages.html' %}

<div id="primary">

{% if profile.biography %}
{{ profile.biography|prettify|linebreaks }}
{% else %}
<p>This user has not yet supplied any details.</p>
{% endif %}

<h2>Seen, or going to see</h2>

<ul>
{% for s in seen %}
<li><a href="{{ s.production.get_absolute_url }}">{{ s.production.play.get_title_display|prettify }}</a>,
{{ s.production.place_summary|prettify }},
{{ s.production.company|prettify }},
{{ s.production.date_summary|prettify }}
{% empty %}
<li>This user has not listed any production as yet.</li>
{% endfor %}
</ul>

</div>

<div class="secondary">

<ul>
    {% if not view.is_active %} <li>Inactive. {% endif %}
    {% if view.is_superuser %}
        {% ifequal view.username 'matthew' %}
            <li><em>Principal.</em>
        {% else %}
            <li>Administrator.
        {% endifequal %}
    {% else %}{% ifequal view.username "Deborah" %} <li>Wardrobe mistress.
    {% else %}{% if view.is_staff %} <li>Stagehand. {% endif %}{% endifequal %}{% endif %}
    {% if profile.url %}
    <li><a rel="nofollow" href="{{ profile.url }}">Personal website</a>.
    {% endif %}
    <li>Joined {{ view.date_joined|date:"jS F Y" }}.
    <li>Last logged in on {{ view.last_login|date:"jS F Y" }}.
{% ifequal user view %}
    <li><a href="{{ profile.get_edit_url }}">Edit your profile and alerts</a>
    <li><a href="{% url password-change %}">Change your password</a>
{% endifequal %}
    </ul>

<h2>Last five observations</h2>
{% if observations %}
<ul>
{% for o in observations %}
<li>To <a href="{{ o.content_object.get_absolute_url }}">{{ o.content_object }}</a>:
&ldquo;{{ o.comment|prettify }}&rdquo;
{% endfor %}
</ul>
{% else %}
<p>This user has made no observations.</p>
{% endif %}

<h2>Last ten changes</h2>

<ul>
{% for l in latest %}
<li>
{% for v in l %}
{% if not forloop.first %}<br>{% endif %}
<a href="{{ v.1 }}">{{ v.0 }}</a>
{% endfor %}
{% empty %}
<li>This user has made no changes or additions yet.
{% endfor %}
</ul>

{% if not user.is_authenticated %}
<p><a href="{% url login %}?next={{ request.path }}">Sign in</a> to manage your alerts, say which productions you have seen, and more.</p>
{% endif %}

</div>

{% endblock %}
