{% extends 'base.html' %}
{% load prettify %}

{% block title %}Search around {{ name|prettify }} ({{ lat }}, {{ lon }}){% endblock %}

{% block extra_head %}
<link href="/around/{{ latlon }}/feed" type="application/rss+xml" rel="alternate">
<script type="text/javascript" src="/static/js/web-maps-lite.js"></script>
{% endblock %}

{% block content %}

<h1>Search around {{ name|prettify }}</h1>

{% if places %}

<div id="primary">

{% if future.object_list %}
<h2>Current &amp; Upcoming productions</h2>
<ul class="production_list">
{% for production in future.object_list %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}, {{ production.get_companies_display }}{% endif %}
<span class="meta">{{ production.date_summary|prettify }},
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% if future.has_other_pages %}
<p align="right"><a href="{% url search-around-future latlon %}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

{% if past.object_list %}
<h2>Past productions</h2>
<ul class="production_list">
{% for production in past.object_list %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}, {{ production.get_companies_display }}{% endif %}
<span class="meta">{{ production.date_summary|prettify }},
{% ifequal production.places.count 1 %}
<a href="{{ production.place_summary.get_absolute_url }}">{{ production.place_summary|prettify }}</a>.
{% else %}
{{ production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% if past.has_other_pages %}
<p align="right"><a href="{% url search-around-past latlon %}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

</div>

<div class="secondary">

{% include 'includes/messages.html' %}

<ul>
{% if alert %}
<li><a href="/around/{{ latlon }}/alert/remove?name={{ name|urlencode }}">Stop alerting me to productions around this point</a>
{% else %}
<li><a href="/around/{{ latlon }}/alert/add?name={{ name|urlencode }}">Alert me to productions around this point</a>
{% endif %}
</ul>

<p>The following places are known in this locality:</p>
<script type="text/javascript">
$(function(){
    function addMarker(point, name, link) {
        marker = new CM.Marker(point, { icon: tinyIcon, title: name });
        marker.bindInfoWindow(
            '<strong>' + name + '</strong><br><a href="' + link + '">More information</a>',
            { pixelOffset: new CM.Size(-1, -21) }
        );
        map.addOverlay(marker);
    }
    var bounds;
{% for place in places %}
    //map.setCenter(new CM.LatLng({{ place.latitude }}, {{ place.longitude }}), 14);
    var latlng = new CM.LatLng({{ place.latitude }}, {{ place.longitude }});
    addMarker(latlng, "{{ place|prettify }}", "{{ place.get_absolute_url }}");
    if (!bounds) {
        bounds = new CM.LatLngBounds(latlng, latlng);
    } else {
        bounds.extend(latlng);
    }
{% endfor %}
    map.zoomToBounds(bounds);
    if (map.getZoom() > 15) {
        map.setZoom(15);
    }
});
</script>
<div id="map"></div>

<ul class="place_list">
{% for place in places %}
<li><a href="{{ place.get_absolute_url }}">{{ place|prettify }}</a>
{% endfor %}
</ul>

<p>If your local theatre isn&rsquo;t here, it&rsquo;s possible it&rsquo;s not
yet in our database, or is in our database but not yet geo-located &ndash; please
do search for the theatre, or <a href="{% url production-add %}">add a production</a> and you can add a
place along the way.
</p>

</div>

{% else %}

<p>No results have been found, I&rsquo;m afraid. It&rsquo;s possible theatres
are not yet in our database, or are present but not yet geo-located &ndash;
please do search for a theatre, or <a href="{% url production-add %}">add a production</a>
and you can add a place along the way.
</p>

{% endif %}

{% endblock %}
