{% extends 'base.html' %}
{% load prettify %}

{% block title %}Search{% if search %}: &ldquo;{{ search|striptags }}&rdquo;{% endif %}{% endblock %}

{% block content %}

<h1>Search{% if search %} for {% ifequal sounds_people 2 %}similar to {% endifequal %}
&ldquo;{{ search }}&rdquo;{% endif %}</h1>

<script type="text/javascript">
if (!window.location.hash)
    start_tab = {% ifequal sounds_people 2 %}2{% else %}{% if plays %}0{% else %}{% if people %}1{% else %}{% if near.geonames or places %}2{% else %}{% if parts.object_list %}3{% else %}{% if companies %}4{% else %}-1{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endifequal %};
</script>
<div id="search_tabs">
<ul>
<li{% if not plays %} class="ui-state-disabled"{% endif %}><a href="#search_plays">Plays</a>
<li{% if not people %} class="ui-state-disabled"{% endif %}><a href="#search_people">People</a>
<li{% if not near.geonames and not places %} class="ui-state-disabled"{% endif %}><a href="#search_places">Places</a>
<li{% if not parts.object_list %} class="ui-state-disabled"{% endif %}><a href="#search_parts">Parts</a>
<li{% if not companies %} class="ui-state-disabled"{% endif %}><a href="#search_companies">Companies</a>
</ul>

<div id="search_plays">
{% if plays %}
<h2>Plays</h2>
<ul class="person_list">
{% for play in plays %}
<li><a href="{{ play.get_absolute_url }}">{{ play.get_title_display|prettify }}</a>, by {{ play.get_authors_display|default:"unknown" }}</li>
{% endfor %}
</ul>
{% endif %}
</div>

<div id="search_people">
{% if people %}
<h2>People</h2>
{% ifequal sounds_people 1 %}
    <p>We couldn&rsquo;t find any results for &ldquo;{{ search }}&rdquo;. Here are some results that are, or sound, similar:
{% endifequal %}
{% ifequal sounds_people 2 %}
<p>Here are results that are, or sound, similar to &ldquo;{{ search }}&rdquo;:
{% endifequal %}
<ul class="person_list">
{% for person in people %}
<li><a href="{{ person.get_absolute_url }}">{{ person|prettify }}</a>
{% endfor %}
</ul>
{% if not request.GET.similar and not sounds_people %}
    {% ifequal people.count 1 %}
        <p>If this isn&rsquo;t whom you&rsquo;re looking for, <a href="{% url search %}?q={{ search }};similar=1">see if we have any similar sounding results</a>.
    {% else %}
        <p>If none of these is whom you&rsquo;re looking for, <a href="{% url search %}?q={{ search }};similar=1">see if we have any similar sounding results</a>.
    {% endifequal %}
{% endif %}
{% else %}
    {% if search %}
        <p>I&rsquo;m afraid we couldn&rsquo;t find any results. If you&rsquo;re searching for someone, try
        just their first or last name.
    {% endif %}
{% endif %}
</div>

<div id="search_places">

{% if places or near.geonames %}
<h2>Places</h2>
{% endif %}

{% if places and near.geonames %}
<div class="primary">
{% endif %}

{% if places %}
<p>The following places matched your search:</p>
<ul class="place_list">
{% for place in places %}
    {% if place.productions.count %}
        <li><a href="{{ place.get_absolute_url }}">{{ place|prettify }}</a></li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if places and near.geonames %}
</div>
<div class="secondary">
{% endif %}

{% if near.geonames %}
{% if places %}
<p>Or, to see all places around a location, pick from below:
{% else %}
<p>To see all places around a location, pick from below:
{% endif %}
<ul>
{% for place in near.geonames %}
<li><a href="/search/around/{{ place.lat }},{{ place.lng }}?name={{ place.name|urlencode }}">{{ place.name|prettify }}</a>{% if place.adminName1 %},
{{ place.adminName1 }}{% endif %}, {{ place.countryName }}
{% endfor %}
</ul>
{% endif %}

{% if places and near.geonames %}
</div>
{% endif %}

</div>

<div id="search_parts">
{% if parts.object_list %}
<h2>Parts</h2>
<ul class="production_list">
{% for part in parts.object_list %}
<li>
{{ part.role|prettify }},
{% if part.cast %}played by {% endif %}
<a href="{{ part.person.get_absolute_url }}">{{ part.person|prettify }}</a>, in
<a href="{{ part.production.get_absolute_url }}">{{ part.production.play.get_title_display|prettify }}</a>{% if part.production.get_companies_display %}, {{ part.production.get_companies_display }}{% endif %}
<span class="meta">{{ part.production.date_summary|prettify }},
{% ifequal part.production.places.count 1 %}
<a href="{{ part.production.place_summary.get_absolute_url }}">{{ part.production.place_summary|prettify }}</a>.
{% else %}
{{ part.production.place_summary|prettify }}.
{% endifequal %}
</span>
{% endfor %}
</ul>
{% if parts.has_other_pages %}
<p align="right"><a href="{% url search-parts search %}?page=2">More &rarr;</a></p>
{% endif %}
{% endif %}

</div>

<div id="search_companies">
{% if companies %}
<h2>Production companies</h2>
<ul class="company_list">
{% for company in companies %}
<li><a href="{{ company.get_absolute_url }}">{{ company|prettify }}</a></li>
{% endfor %}
</ul>
{% endif %}
</div>

{% ifequal error 'Length' %}
<p>The minimum search length is three characters, as anything else returns too many results.</p>
{% else %}
{% if plays or near.geonames or places or people or parts.object_list or companies %}
{% else %}
    <p>I&rsquo;m afraid we couldn&rsquo;t find any results. If you&rsquo;re searching for someone, try
    just their first or last name.</p>
    <p>Otherwise, it&rsquo;s very likely we simply don&rsquo;t yet hold any information for what you
    searched for. The site relies upon user input to improve its coverage, so <strong>please</strong> do
    <a href="/add">add a production</a> to the site, involving the play, person, or place you searched
    for, so that future users of the site can benefit. They thank you in advance!
{% endif %}
{% endifequal %}

</div>
{% endblock %}
