{% extends 'base.html' %}
{% load prettify %}{% load thumbnail %}

{% block title %}{{ photo }}{% endblock %}

{% block content %}

<h1>{{ attached_title|prettify }}</h1>

<div class="primary">

<h2 id="photo-title">{{ photo.title|prettify }}</h2>

<p aria-labelledby="photo-title" id="photo"><img style="max-width: 100%" src="{% thumbnail photo.photo 720x720 %}" alt="{{ photo.title }}"></p>

</div>

<div class="secondary">

<p>A photograph or picture of <a href="{{ photo.content_object.get_absolute_url }}">{{ photo.content_object|prettify }}</a>.</p>

<p class="pagination">
{% if previous_photo %}
<a href="{{ previous_photo.get_absolute_url }}">&larr; Previous</a>
{% else %}
<span class="greyed">&larr; Previous</span>
{% endif %}
|
{% if next_photo %}
<a href="{{ next_photo.get_absolute_url }}">Next &rarr;</a>
{% else %}
<span class="greyed">Next &rarr;</span>
{% endif %}
</p>

</div>

{% endblock %}
