{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ place|prettify }}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="/static/js/web-maps-lite.js"></script>
{% endblock %}

{% block content %}

<h1>Editing {{ place.get_name_display|prettify }}</h1>

<form method="post" id="edit">
{% for field in form.hidden_fields %} {{ field }} {% endfor %}

{{ form.errors }}

<div id="primary">

{% for field in form %}
    {% if not field.is_hidden %}
    {% ifnotequal field.label 'Latitude' %}
    {% ifnotequal field.label 'Longitude' %}
    <p>{{ field.label_tag }} {{ field }}</p>
    {% if field.help_text %}<p class="help_text"><small>{{ field.help_text }}</small></p>{% endif %}
    {% endifnotequal %}
    {% endifnotequal %}
    {% endif %}
{% endfor %}

<p><input id="submit" type="submit" value="Record changes">
<input type="submit" name="disregard" id="cancel" value="Disregard"></p>

</div>

<div class="secondary">

<div id="form_latlon">
<p>{{ form.latitude.label_tag }}: {{ form.latitude }}</p>
<p>{{ form.longitude.label_tag }}: {{ form.longitude }}</p>
</div>
<div id="map"></div>

</div>

</form>

{% endblock %}
