{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ letter }} | All Places{% endblock %}

{% block content %}

<style>
#locations_list_type {
    text-align: center;
    font-style: italic;
    margin: 0;
    font-size: 87.5%;
    line-height: 1.715;
}
</style>

<p id="locations_list_type">
    By 
    <strong>name</strong>
    or
    {% if "0-9" == letter %}<a href="{% url "locations" "0" %}">location</a>
    {% elif "Symbols" == letter %}<a href="{% url "locations" "*" %}">location</a>
    {% else %}<a href="{% url "locations" letter|lower %}">location</a>
    {% endif %}
</p>

<ul id="atoz">
    {% for l in letters %}
        <li>{% if l == letter %}
            <strong>{{ l|upper }}</strong>
        {% else %}
            <a href="{% url "places" l|lower %}">{{ l }}</a>
        {% endif %}
    {% endfor %}
    <li>{% if "0-9" == letter %}
        <strong>0&ndash;9</strong>
    {% else %}
        <a href="{% url "places" "0" %}">0&ndash;9</a>
    {% endif %}
<!--
    <li>{% if "Symbols" == letter %}
        <strong>Symbols</strong>
    {% else %}
        <a href="{% url "places" "*" %}">Symbols</a>
    {% endif %}
-->
</ul>

<h1>Places &ndash; {{ letter }}</h1>

<ul id="places_list">
{% for place in object_list %}
    {% if place.productions.count or place.place.productions.count %}
        <li><a href="{{ place.get_absolute_url }}">{{ place|prettify }}</a></li>
    {% endif %}
{% empty %}
    <li>No results.</li>
{% endfor %}
</ul>

{% endblock %}
