{% extends 'base.html' %}
{% load prettify %}

{% block title %}Editing {{ place }}{% endblock %}

{% block content %}

<h1>Editing {{ place }}</h1>

<form method="post">
{% for field in form %} {% if field.is_hidden %} {{ field }} {% endif %} {% endfor %}

<div id="primary">

<table>
{% for field in form %}
    {% if not field.is_hidden %}
    {% ifnotequal field.label 'Location' %}
    <tr><th>{{ field.label_tag }}:</th> <td>{{ field }}</td></tr>
    {% endifnotequal %}
    {% endif %}
{% endfor %}
</table>

<p><span style="float:left"><input type="submit" value="Record changes"></span>

<span style="float:right"><input type="submit" name="disregard" id="edit-form-cancel" value="Disregard"></span>

</div>

<div class="secondary">
{{ form.latitude }}

<p>Position the marker above by clicking or dragging.</p>
</div>

</form>

{% endblock %}
