{% extends 'base.html' %}

{% block title %}{{ letter }} | All Places{% endblock %}

{% block content %}

<ul id="atoz">
    {% for l in letters %}
        <li>{% ifequal l letter %}
            <strong>{{ l|upper }}</strong>
        {% else %}
            <a href="{% url places l|lower %}">{{ l }}</a>
        {% endifequal %}
    {% endfor %}
<!--
    <li>{% ifequal "0-9" letter %}
        <strong>0&ndash;9</strong>
    {% else %}
        <a href="{% url places "0" %}">0&ndash;9</a>
    {% endifequal %}
    <li>{% ifequal "Symbols" letter %}
        <strong>Symbols</strong>
    {% else %}
        <a href="{% url places "*" %}">Symbols</a>
    {% endifequal %}
-->
</ul>

<h1>Places &ndash; {{ letter }}</h1>

<ul id="places_list">
{% for place in object_list %}
    <li><a href="{{ place.get_absolute_url }}">{{ place }}</a></li>
{% empty %}
    <li>No results.</li>
{% endfor %}
</ul>

{% endblock %}
