{% extends 'base.html' %}
{% load prettify %}

{% block title %}All Productions | {{ place|prettify|striptags }}{% endblock %}

{% block content %}

<h1>{{ place.get_name_display|prettify }}</h1>

<div class="primary">

<h2>A&ndash;Z&nbsp; of all Productions</h2>

{% if productions %}
<ul class="production_list">
{% for production in productions %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play.get_title_display|prettify }}</a>{% if production.get_companies_display %}, {{ production.get_companies_display }}{% endif %}
<span class="meta">{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% else %}
<p>There are no results to display.</p>
{% endif %}

</div>

<div id="sidebar_tulip" class="secondary"><div id="sidebar_tulip_r" role="contentinfo">
<p>All productions shown at <a href="{{ place.get_absolute_url }}">{{ place|prettify }}</a>.</p>
</div></div>

{% endblock %}
