{% extends 'base.html' %}
{% load prettify %}

{% block title %}All Productions | {{ place|prettify }}{% endblock %}

{% block content %}

<h1>{{ place.get_name_display|prettify }}</h1>

<div id="primary">

<h2>A&ndash;Z&nbsp; of all Productions</h2>

{% if productions %}
<ul class="production_list">
{% for production in productions %}
<li><a href="{{ production.get_absolute_url }}">{{ production.play|prettify }}</a>{% if production.title %}, {{ production.title|prettify }}{% endif %}
<span>{{ production.date_summary|prettify }}.</span>
{% endfor %}
</ul>
{% else %}
<p>There are no results to display.</p>
{% endif %}

</div>

<div class="secondary">
<p>All productions shown at <a href="{{ place.get_absolute_url }}">{{ place|prettify }}</a>.</p>
</div>

{% endblock %}
