{% extends 'base.html' %}
{% load prettify %}

{% block title %}{{ object.get_name_display|prettify|striptags }}{% endblock %}

{% block content %}

<h1>{{ object.get_name_display|prettify }}</h1>

<div id="primary">

<h2>{{ type }}</h2>

{% if page_obj.object_list %}
<ul class="production_list">
{% for production_part in page_obj.object_list %}
{% include 'places/production_line.html' %}
{% endfor %}
</ul>
{% else %}
<p>There are no results to display.</p>
{% endif %}

{% include "pagination.html" %}

</div>

<div class="secondary">
<p>{{ type }} at <a href="{{ object.get_absolute_url }}">{{ object|prettify }}</a>.</p>
{% include "pagination.html" %}
</div>

{% endblock %}
